<div class="row">
    <!-- Column -->
  
  
    <div class="col-lg-12">
      <div class="card">
  
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <form>
                <div class="mb-2">
                  <input type="text" class="form-control" id="prenametext" (keydown.enter)="searchFormSubmit()" [ngModelOptions]="{standalone: true}" placeholder="Search" [(ngModel)]="searchByName">
                </div>
              </form>
            </div>
            <div class="col-md-8 d-flex  justify-content-end">
              <div ngbDropdown class="d-inline-block mb-2 mr-2">
                <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
                  Filter by quantity
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <button class="dropdown-item" (click)="GetAll()">All</button>
                  <button class="dropdown-item" (click)="FilterByQty(50)">Quantity < 50%</button>
                  <button class="dropdown-item" (click)="FilterByQty(25)">Quantity < 25%</button>
                </div>
              </div>
              <div ngbDropdown class="d-inline-block mb-2 mr-2">
                <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
                  Filter by category
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <button class="dropdown-item text-success" (click)="GetAll()">Get All</button> 
                  <button class="dropdown-item" *ngFor="let topping of catagoryList" (click)="filter(topping?._id)">{{topping?.name}}</button>
                </div>
              </div>
              <div ngbDropdown class="d-inline-block mb-2 mr-2">
                <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
                  Filter by stock status
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <button class="dropdown-item" (click)="GetAll()">All</button>
                  <button class="dropdown-item" (click)="FilterByStock('INSTOCK')">In Stock</button>
                  <button class="dropdown-item" (click)="FilterByStock('OUTSTOCK')">Out of stock</button>
                </div>
              </div>
              <!-- <div ngbDropdown class="d-inline-block mb-2 mr-2">
                <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
                  Daily
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <button class="dropdown-item">Daily</button>
                  <button class="dropdown-item">Weekly</button>
                  <button class="dropdown-item">Monthly</button>
                  <button class="dropdown-item">Yearly</button>
                </div>
              </div> -->
            
            </div>
            </div>
          <div class="row">
            <div class="col-md-12">  
            <div class="table-responsive">
              <table class="table v-middle product-overview" id="zero_config">
                <thead>
                  <tr>
                    <th>Image</th>
                    <th>Product Name</th>
                    <th>SKU</th>                                  
                    <th>Price</th>                 
                    <th>Quantity</th>                  
                    <th class="text-nowrap">Category</th>
                    <th class="text-nowrap">Status</th>                  
                    <!-- <th class="text-nowrap">Action</th> -->
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of stockList">                    
                    <td><img [src]="item.image?item.image:'assets/images/food/1.jpg'" width="50px" class="border-circle"></td>
                    <td class="text-nowrap">{{item?.name}}</td>
                    <td>{{item?.oldPrice}}</td>
                    <td><i class="fas fa-euro-sign"></i>{{item?.price}}</td>
                    <td><span class="text-success">{{item?.stockQuantity}}(In Stock)</span>  <button class="btn   btn-primary btn-sm ml-1" (click)="inventoryModal(inventory,item?._id)"><i class="ti-plus"></i>
                    </button></td>
                    <td>{{item?.categoryId?.name}}</td>
                    <td><span class="label label-success">{{item?.isActive}}</span></td>               
                    <!-- <td>
                      <div class="d-flex">
                        <button class="btn btn-primary mr-2" (click)="inventoryModal(inventory)"><i class="ti-pencil"></i>
                        </button>
                        <button class="btn btn-danger" (click)="boxDeleteModal(boxDelete)"><i class="ti-trash"></i>
                        </button>
                      </div>
                    
                    </td> -->
                  </tr> 
                  <tr *ngIf="totalItems==0" class="ml-5">                    
                    Data not found!
                  </tr>              
                </tbody>
              </table>
              
  <div class="w-100 text-right mt-2" *ngIf="totalItems>0">
    <mat-paginator
  [length]="totalItems"
  [pageSize]="itemPerpage"
  (page)="onPaginateChange($event)"
></mat-paginator>
</div>
            </div>
          </div>
        </div>
      </div>
      <!-- Column -->
    </div>
    <ng-template #inventory let-modal>
      <div class="modal-body">
        <div class="card">
          <form [formGroup]="QtyForm">
            <div class="form-body">
              <div class="card-body">  
                  <!--/span-->                  
                    <div class="form-group has-danger">
                      <label class="control-label"> Add Quantity</label>
                      <input type="number" min="0" placeholder="" class="form-control" formControlName="qty" required/>                    
                 <small *ngIf="submitted && QtyForm.invalid" class="error"> *Add Quantity is required! </small>
                    </div>                            
              
              <div class="form-actions p-2">               
                  <button type="submit" class="btn btn-primary mr-3" (click)="AddQuantity()">
                    <i class="fa fa-check"></i> Add</button>
                  <button type="button" class="btn btn-dark" (click)="modal.dismiss('Cross click')">Cancel</button>
                </div>
              </div>
            </div>
          </form>
        </div>
  
      </div>
    </ng-template>
  
    <!-- delete modal -->
    <ng-template #boxDelete let-modal>
      <div class="modal-body">
        <p>Are you sure you want to delete this product? </p>
        <div class="btn-group">
          <button type="button" class="btn btn-primary mr-2" aria-label="Close"
            (click)="modal.dismiss('Cross click')">Yes</button>
          <button type="button" class="btn btn-seconadary" aria-label="Close"
            (click)="modal.dismiss('Cross click')">No</button>
        </div>
      </div>
    </ng-template>
  