<div class="auth-wrapper d-flex no-block justify-content-center align-items-center" style="background:url(assets/images/background/login-register.jpg) no-repeat center center;background-size: cover;">
    <div class="auth-box on-sidebar">
        <div *ngIf="loginform" id="loginform" [ngClass]="{'d-none': recoverform}">
            <div class="logo">
                <span class="db"><img src="assets/images/logo-icon.svg" alt="logo"  /></span>
                <h5 class="font-medium m-b-20 pt-2">Login for the admin dashboard</h5>
            </div>
            <!-- Form -->
            <ul ngbNav #nav="ngbNav" class="nav-tabs custom-tab">
                <li ngbNavItem>
                  <a ngbNavLink class="text-white">Login with email</a>
                  <ng-template ngbNavContent>
                    <div class="row">
                        <div class="col-12">
                            <form class="form-horizontal m-t-20" id="loginform" [formGroup]="loginwithEmail">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1"><i class="ti-user"></i></span>
                                    </div>
                                    <input type="text" formControlName="email" class="form-control form-control-lg" placeholder="Email" aria-label="Username" aria-describedby="basic-addon1" required>
                                    
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon2"><i class="ti-pencil"></i></span>
                                    </div>
                                    <input type="password" formControlName="password" class="form-control form-control-lg" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1" required>
                                </div>
                                
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" formControlName="remember" class="custom-control-input" id="customCheck1">
                                            <label class="custom-control-label text-white" for="customCheck1">Remember me</label>
                                            <a (click)="showRecoverForm()" href="javascript:void(0)" id="to-recover" class="text-white float-right"><i class="fa fa-lock m-r-5"></i> Forgot password</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group text-center">
                                    <div class="col-xs-12 p-b-20">
                                        <button  class="btn btn-block btn-lg btn-theme" type="submit" (click)="login()">Log In</button>
                                    </div>
                                </div>
                                <!-- <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 m-t-10 text-center">
                                        <div class="social">
                                            <a href="javascript:void(0)" class="btn  btn-facebook m-r-5" data-toggle="tooltip" title="" data-original-title="Login with Facebook"> <i aria-hidden="true" class="fab  fa-facebook"></i> </a>
                                            <a href="javascript:void(0)" class="btn btn-googleplus" data-toggle="tooltip" title="" data-original-title="Login with Google"> <i aria-hidden="true" class="fab  fa-google-plus"></i> </a>
                                        </div>
                                    </div>
                                </div> -->
                                <!-- <div class="form-group m-b-0 m-t-10">
                                    <div class="col-sm-12 text-center">
                                        Don't have an account? <a href="#/authentication/signup2" class="text-info m-l-5"><b>Sign Up</b></a>
                                    </div>
                                </div> -->
                            </form>
                        </div>
                    </div>  

                  </ng-template>
                </li>
                <li ngbNavItem [ngClass]="{'active':phonecode}">
                  <a ngbNavLink class="text-white" (click)="fetchNews($event)">Login with phone no.</a>
                  <ng-template ngbNavContent>
                    <div class="row">
                        <div class="col-12">
                            <form class="form-horizontal m-t-20" id="loginform1" [formGroup]="loginWithPhone">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                      <select class="form-control form-control-lg"  formControlName="code">
                                        <option *ngFor="let code of countrycode" [value]="code.dial_code"> {{code.dial_code}}</option>
                                          </select>
                                    </div>
                                    <input type="text" class="form-control form-control-lg" placeholder="Phone no." formControlName="phone" aria-label="Username" aria-describedby="basic-addon1" required>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon2"><i class="ti-pencil"></i></span>
                                    </div>
                                    <input type="password" class="form-control form-control-lg" placeholder="Password" formControlName="password"aria-label="Password" aria-describedby="basic-addon1" required>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" formControlName="remember"class="custom-control-input" id="customCheck1">
                                            <label class="custom-control-label text-white" for="customCheck1">Remember me</label>
                                            <a (click)="otpFrom()" href="javascript:void(0)" id="to-recover" class="text-white float-right"><i class="fa fa-lock m-r-5"></i> Forgot password</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group text-center">
                                    <div class="col-xs-12 p-b-20">
                                        <button  class="btn btn-block btn-lg btn-theme" type="submit" (click)="phoneLogin()">Log In</button>
                                    </div>
                                </div>
                                <!-- <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 m-t-10 text-center">
                                        <div class="social">
                                            <a href="javascript:void(0)" class="btn  btn-facebook m-r-5" data-toggle="tooltip" title="" data-original-title="Login with Facebook"> <i aria-hidden="true" class="fab  fa-facebook"></i> </a>
                                            <a href="javascript:void(0)" class="btn btn-googleplus" data-toggle="tooltip" title="" data-original-title="Login with Google"> <i aria-hidden="true" class="fab  fa-google-plus"></i> </a>
                                        </div>
                                    </div>
                                </div> -->
                               
                            </form>
                        </div>
                    </div>
                  </ng-template>
                </li>
              </ul>
              <div [ngbNavOutlet]="nav"></div>
              <div class="form-group m-b-0 m-t-10">
                <div class="col-sm-12 text-center text-white">
                    Don't have an account? <a routerLink="/signup2" class="text-white m-l-5"><b>Sign Up</b></a>
                </div>
            </div>
            <div class="">
                <p class="text-danger err_box"
                *ngIf="submitted && errorHandlingSignup('email', 'required')">
                Email is required!
            </p>
                <p class="text-danger"
                *ngIf="errorHandlingSignup('email', 'pattern')">
                Email is invalid!
            </p>
                <p class="text-danger"
                *ngIf="submitted && errorHandlingSignup('password', 'required')">
                Password is required!
            </p>
            <p class="text-danger"
            *ngIf="isphoneLogin && errorHandlingphone('phone', 'required')">
            Phone number is required!
        </p>
            <p class="text-danger"
            *ngIf="errorHandlingphone('phone', 'pattern')">
            Phone number is invalid!
        </p>
        <p class="text-danger"
            *ngIf="errorHandlingphone('phone', 'maxlength')">
            Maximum length of phone number should be 15!
        </p>
        <p class="text-danger"
            *ngIf="errorHandlingphone('phone', 'minlength')">
            Minimum length of phone number should be 7!
        </p>
            <p class="text-danger"
            *ngIf="isphoneLogin && errorHandlingphone('password', 'required')">
            Password is required!
        </p>
            </div>
            
        </div>
        <div id="recoverform" [ngClass]="{'d-block': recoverform}">
            <div class="logo">
                <span class="db"><img src="assets/images/logo.svg" alt="logo" /></span>
                <h5 class="font-medium m-b-20">Recover Password</h5>
                <span>Enter your Email and instructions will be sent to you!</span>
            </div>
            <div class="row m-t-20">
                <!-- Form -->
                <form class="col-12" [formGroup]="recoveryForm">
                    <!-- email -->
                    <div class="form-group row">
                        <div class="col-12">
                            <input class="form-control form-control-lg" type="email" required="" placeholder="Email" formControlName="email">
                            <p class="text-white" *ngIf="isSubmitted && recoveryForm.controls['email'].errors?.required">This field is required</p>
                        </div>
                    </div>
                    <!-- pwd -->
                    <div class="row m-t-20">
                        <div class="col-12">
                            <button class="btn btn-block btn-lg btn-info text-white" type="button" name="action" (click)="CancelForgot()">Cancel</button>
                        </div>
                    </div>
                    <div class="row m-t-20">
        
                        <div class="col-12">
                            <button class="btn btn-block btn-lg btn-info text-white" type="button" name="action" (click)="recover()">Reset</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
           <div *ngIf="loginform1" id="otp" [ngClass]="{'d-block': otp}">
            <div class="logo">
                <span class="db"><img src="assets/images/logo.svg" alt="logo" /></span>
                <h5 class="font-medium m-b-20">Recover Password</h5>
                <span>Enter your phone number and OTP will be sent to you!</span>
            </div>
            <div class="row m-t-20">
                <!-- Form -->
                <form class="col-12" [formGroup]="phoneRecover" >
                    <!-- email -->
                    <div class="form-group row">
                        <div class="col-12">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <select class="form-control form-control-lg" (change)="someMethod($event.target.value)">
                                    <option *ngFor="let code of countrycode;" [value]="code.dial_code"> {{code.dial_code}}</option>
                                      </select>
                                </div>
                                <input type="text" class="form-control form-control-lg" placeholder="Phone no." aria-label="Username" aria-describedby="basic-addon1" required formControlName="phone">
                                
                            </div>
                            <p class="text-white"
                                *ngIf="IsphoneRecover && errorPhoneRecoverForm('phone', 'required')">
                                Phone number is required!
                            </p>
                                <p class="text-white"
                                *ngIf="errorPhoneRecoverForm('phone', 'pattern')">
                                Phone number is invalid!
                            </p>
                            <p class="text-white"
                                *ngIf="errorPhoneRecoverForm('phone', 'maxlength')">
                                Maximum length of phone number should be 15!
                            </p>
                            <p class="text-white"
                                *ngIf="errorPhoneRecoverForm('phone', 'minlength')">
                                Minimum length of phone number should be 7!
                            </p>
                        </div>
                    </div>
                    <!-- pwd -->
                    <div class="row m-t-20">
                        <div class="col-12">
                            <button class="btn btn-block btn-lg btn-info text-white" type="submit" name="action" (click)="ClosePhone()">Cancel</button>
                        </div>
                    </div>
                    <div class="row m-t-20">
                        <div class="col-12">
                            <button class="btn btn-block btn-lg btn-info text-white" type="submit" name="action" (click)="recoverForPhone(content3)">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<ng-template #content3 let-modal>
   
    <div class="modal-body"> 
        <button class="close-icon" (click)="modal.dismiss()"><i class="mdi mdi-close"></i></button>
        <h3>OTP</h3>
        <ng-otp-input  class="otp-box" (onInputChange)="onOtpChange($event)"  [config]="{length:4}"></ng-otp-input>
        <div class="d-flex mt-3 align-items-center">
            <button class="btn btn-primary"  (click)="gotoVerify(content)">Submit</button>
            <a href="javascript:void()" class="ml-auto" (click)="sendOtp()">Resend</a>
        </div>
    </div>
  
  </ng-template> 
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Reset password</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" [formGroup]="form">
            <div class="form-group row">
                <div class="col-12">
                    <input class="form-control form-control-lg" type="password" required="" placeholder="New Password" formControlName="newPassword">
                    <p class="text-danger"
                    *ngIf="formSubmitted && errorHandling('newPassword', 'required')">New password is required!</p>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12">
                    <input class="form-control form-control-lg" type="password" required="" placeholder="Retype Password" formControlName="confirmNewPassword">
                    <p class="text-danger"
                    *ngIf="formSubmitted && errorHandling('confirmNewPassword', 'required')">
                    Confirm password is required!
                        </p>
                <p class="text-danger"
                    *ngIf="(form.get('confirmNewPassword').value.length>0) && form.get('newPassword').value !=  form.get('confirmNewPassword').value">
                    Password mismatched!
                    </p>
                </div>
            </div>
            <div class="form-group text-center">
                <div class="col-xs-12 p-b-20">
                    <button class="btn btn-block btn-lg btn-info" type="button" (click)="CloseModal()">Cancel</button>
                </div>
            </div>
            <div class="form-group text-center">
                <div class="col-xs-12 p-b-20">
                    <button class="btn btn-block btn-lg btn-info" type="button" (click)="save()">Submit</button>
                </div>
            </div>
        </form>
    </div>
  </ng-template>