<div class="auth-wrapper d-flex no-block justify-content-center align-items-center" style="background:url(assets/images/big/auth-bg.jpg) no-repeat center center;">
    <div class="auth-box">
        <div>
            <div class="logo">
                <span class="db"><img alt="thumbnail" class="" width="100" src="assets/images/logo.svg"></span>
            </div>
            <!-- Form -->
            <div class="row">
                <div class="col-12">
                    <form class="form-horizontal m-t-20" [formGroup]="form">
                        <div class="form-group row">
                            <div class="col-12">
                                <input class="form-control form-control-lg" type="password" required="" placeholder="Old Password" formControlName="oldPassword">
                                <p class="text-white"
                                *ngIf="isSubmitted && errorHandlingSignup('oldPassword', 'required')">Old password is required!</p>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-12">
                                <input class="form-control form-control-lg" type="password" required="" placeholder="New Password" formControlName="newPassword">
                                <p class="text-white"
                                *ngIf="isSubmitted && errorHandlingSignup('newPassword', 'required')">New password is required!</p>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-12">
                                <input class="form-control form-control-lg" type="password" required="" placeholder="Retype Password" formControlName="confirmNewPassword">
                                <p class="text-white"
                                *ngIf="isSubmitted && errorHandlingSignup('confirmNewPassword', 'required')">
                                Confirm password is required!
                                    </p>
                            <p class="text-white"
                                *ngIf="(form.get('confirmNewPassword').value.length>0) && form.get('newPassword').value !=  form.get('confirmNewPassword').value">
                                Password mismatched!
                                </p>
                            </div>
                        </div>
                        <div class="form-group text-center">
                            <div class="col-xs-12 p-b-20">
                                <button class="btn btn-block btn-lg btn-info" type="button" (click)="history.back()">Cancel</button>
                            </div>
                        </div>
                        <div class="form-group text-center">
                            <div class="col-xs-12 p-b-20">
                                <button class="btn btn-block btn-lg btn-info" type="button" (click)="save()">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>