<style>
  .sebm-google-map-container {
    width: 100%;
    height: 150px;
    display: flex;
  }
</style>
<div class="row">
  <!-- Column -->
  <!-- delete modal -->
  <ng-template #userDelete let-modal>
    <div class="modal-body">
      <p>Are you sure you want to delete this order?</p>
      <div class="btn-group">
        <button type="button" class="btn btn-primary mr-2" aria-label="Close"
          (click)="modal.dismiss('Cross click')">Yes</button>
        <button type="button" class="btn btn-seconadary" aria-label="Close"
          (click)="modal.dismiss('Cross click')">No</button>
      </div>
    </div>
  </ng-template>

  <!-- view modal -->
  <ng-template #review let-modal>
    <div class="modal-body">
      <button type="button" class=" close-icon" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <i class="mdi mdi-close"></i>
      </button>
      <div class="row">

        <!-- Column -->
        <div class="col-lg-12 col-xlg-12 col-md-12">
          <div class="card custom-tabs mb-0">
            <div class="card-body">
              <div class="row pt-2">
                <div class="col-md-12">
                  <p>
                    It is a long established fact that a reader will be distracted by the readable content of a page
                    when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                    distribution of letters, as opposed to using 'Content here,
                    content here', making it look like readable English. Many desktop publishing packages and web page
                    editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover
                    many web sites
                    still in their infancy.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Column -->
      </div>
    </div>
  </ng-template>


  <ng-template #orderConfirm let-modal>
    <div class="modal-body">
      <label>Add Note</label>
      <div class="form-group">
        <textarea class="form-control" rows="3"></textarea>
        <button class="btn btn-primary mt-2" (click)="modal.dismiss('Cross click')">Submit</button>
      </div>
    </div>
  </ng-template>
  <ng-template #changedriver let-modal>
    <div class="modal-body">
      <h3>Change Driver</h3>
      <mat-form-field class="w-100">
        <mat-label>Select Drive</mat-label>
        <mat-select [formControl]="toppings">
          <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
        </mat-select>
      </mat-form-field>
      <button class="btn btn-primary" (click)="modal.dismiss('Cross click')">Save</button>
    </div>
  </ng-template>
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-4">
            <form>
                <div class="mb-2">
                    <input type="text" class="form-control" id="prenametext" (keyup)="searchFormSubmit()" [ngModelOptions]="{standalone: true}" placeholder="Search" [(ngModel)]="searchByName">
                </div>
            </form>
        </div>
        <div class="col-md-8 text-right">
          <div class="d-block">
            <mat-form-field appearance="fill" [formGroup]="range"> 
              <mat-label> Filter by date</mat-label>
              <mat-date-range-input [rangePicker]="picker">
                <input matStartDate placeholder="Start date" (keydown)="$event.preventDefault();" formControlName="start" (dateChange)="startPicker($event)">
                <input matEndDate placeholder="End date" (keydown)="$event.preventDefault();" formControlName="end" (dateChange)="endPicker($event)">
              </mat-date-range-input>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
          </div>
            <!-- <a href="javascript:void()" class=" btn"><i class=" fas fa-redo"></i></a>
            <a href="javascript:void()" class="mr-2 btn"><i class="fas fa-print"></i></a> -->
            <div class="mr-2 d-inline-block"><button class="btn btn-primary">Download CSV</button></div>
            <!-- <div ngbDropdown class="d-inline-block mb-2 mr-2">
                <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
                  Filter by vendors status
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button class="dropdown-item">KFC</button>
                    <button class="dropdown-item">Mcdonalds</button>
                    <button class="dropdown-item">Vendor 3</button>
                </div>
            </div> -->

            <div ngbDropdown class="d-inline-block mb-2 mr-2">
                <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
                    {{'Filter by order status' + '  '+ '*' + status}}
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button class="dropdown-item" (click)="FilterByStatus('')">All</button>
                    <button class="dropdown-item" (click)="FilterByStatus('ACCEPTED')">Order Accepted</button>
                    <button class="dropdown-item" (click)="FilterByStatus('ONGOING')">On the Way</button>
                    <button class="dropdown-item" (click)="FilterByStatus('CREATED')">Ready </button>
                    <button class="dropdown-item" (click)="FilterByStatus('DELIVERED')">Delivered </button>
                    <button class="dropdown-item" (click)="FilterByStatus('PENDING')">Pending </button>
                    <button class="dropdown-item" (click)="FilterByStatus('REJECTED')">Rejected </button>
                </div>
            </div>

        </div>

          <div class="table-responsive">
            <table mat-table class=" w-100" [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">

              <!-- ID Column -->
              <ng-container matColumnDef="serial_no">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> #  </th>
                <td mat-cell *matCellDef="let row ;let i = index;"> {{i+1}} </td>
              </ng-container>  <!-- ID Column -->
              
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-nowrap"> Customer Name </th>
                <td mat-cell *matCellDef="let row" class="text-nowrap"> {{row.user.firstName +" "+row.user.lastName ||'null'}} </td>
              </ng-container>

              <!-- Progress Column -->
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-nowrap">Order ID </th>
                <td mat-cell *matCellDef="let row" class="text-nowrap"> {{row.orderNo ||'null'}} <a routerLink="/pages/orderdetail/{{row._id}}"><i class="sl-icon-info"></i></a> </td>
              </ng-container>
              <!-- Progress Column -->
              <ng-container matColumnDef="contact">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-nowrap">Phone Number </th>
                <td mat-cell *matCellDef="let row" class="text-nowrap"> {{row.user.dialCode +"-"+row.user.phoneNo ||'null'}} </td>
              </ng-container>
              <!-- Progress Column -->
              <ng-container matColumnDef="comment">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-nowrap">Comment </th>
                <td mat-cell *matCellDef="let row" class="text-nowrap"> {{row.comments ||'null' | slice:0:30}} <a href="javascript:void()" (click)="commentModal(comment,row.comments)" class="ml-1"><i class="sl-icon-info"></i></a> </td>
              </ng-container>
              <!-- Address -->
              <ng-container matColumnDef="address">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Address </th>
                <td mat-cell *matCellDef="let row" class="d-inline-block" style="width:200px;"> {{row.shop.location.address||'null'}} <a href="javascript:void()" (click)="mapModal(map,row.shop.location.coordinates[0],row.shop.location.coordinates[1])"><i class="sl-icon-info"></i></a> </td>
              </ng-container>
             
              <ng-container matColumnDef="orderdate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-nowrap"> Order Date </th>
                <td mat-cell *matCellDef="let row"  class="text-nowrap"> {{row.orderedAt | date:'medium' }} </td>
              </ng-container>
              <!-- Name Column -->
              <ng-container matColumnDef="deliverydate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-nowrap"> Delivery Date </th>
                <td mat-cell *matCellDef="let row"  class="text-nowrap"> {{row.deliveredAt|date:'medium'}} </td>
              </ng-container>
              <!-- Name Column -->
              <ng-container matColumnDef="foodStatus">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-nowrap"> Food Status </th>
                <td mat-cell *matCellDef="let row" >  <div ngbDropdown placement="bottom" class="d-inline-block" container="body">
                  <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
                    {{row.foodStatus}} 
                  </button>

                  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button class="dropdown-item">On way to delivery</button>
                    <button class="dropdown-item"> In process of Pick-up</button>
                    <button class="dropdown-item"> Pending and not processed for Pick-Up</button>
                    <button class="dropdown-item"> Completed and payment confirmed.</button>
                    <button class="dropdown-item">Food Being Prepared </button>
                  </div>
                </div> </td>
              </ng-container>
              <ng-container matColumnDef="orderStatus">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-nowrap"> Order Status </th>
                <td mat-cell *matCellDef="let row" > <span class="label " [ngClass]="row.status == 'Pending' ? 'label-info':'label-success' ">{{row.status}}</span> </td>
              </ng-container>
              <!-- Color Column -->
              <ng-container matColumnDef="totalSales">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-nowrap"> Total </th>
                <td mat-cell *matCellDef="let row"><i class="fas fa-euro-sign"></i> {{row.subTotal}} </td>
              </ng-container>
             
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-nowrap"> Action </th>
                <td mat-cell *matCellDef="let row" class="text-nowrap">
                  <div class="d-flex">

                  
                  <div  ngbDropdown placement="bottom-right" display="dynamic" class="dropdown-menu-right"  container="body">
                    <button class="btn btn-outline-primary btn-sm" id="dropdownBasic1" ngbDropdownToggle>
                      Action
                    </button>

                    <div  ngbDropdownMenu aria-labelledby="dropdownBasic1">
                      <a href="javascript:void()" class="dropdown-item" (click)="AcceptModal(accept,'ACCEPTED',row._id)">
                        Accept
                      </a>
                      <!-- <button class="dropdown-item" (click)="userDetailModal(userDetail)"><i _ngcontent-axh-c146=""
                            class="ti-marker-alt"></i> Edit</button> -->

                      <a href="javascript:void()" class="dropdown-item btn-sm mr-2"
                        (click)="AcceptModal(accept,'REJECTED',row._id)">
                        Reject</a>
                        <button class="dropdown-item" (click)="AcceptModal(accept,'ONGOING',row._id)">On way to delivery</button>
                        <button class="dropdown-item" (click)="AcceptModal(accept,'PICKEDUP',row._id)"> In process of Pick-up</button>
                        <button class="dropdown-item"(click)="AcceptModal(accept,'PENDING',row._id)"> Pending and not processed for Pick-Up</button>
                        <button class="dropdown-item"(click)="AcceptModal(accept,'COMPLETED',row._id)"> Completed and payment confirmed.</button>
                        <button class="dropdown-item"(click)="AcceptModal(accept,'PREPARING',row._id)">Food Being Prepared </button>
                    </div>

                    <div  ngbDropdownMenu aria-labelledby="dropdownBasic1">
                         
                      <!-- <button class="dropdown-item" (click)="userDeleteModal(userDelete)"><i class="ti-trash"></i>
                        Delete</button> -->
                    </div>
                  </div>

                  <a  class="btn btn-primary btn-sm ml-2" routerLink="/pages/orderdetail/{{row?._id}}"><i class="ti-eye"></i>
                    View
                  </a>  
                </div>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

              <!-- Row shown when there is no matching data. -->
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">Data not found!</td>
              </tr>
            </table>
          </div>
          <div class="col-md-12 text-right"><mat-paginator [length]="totalItems"
            
            (page)="onPaginateChange($event)" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator></div>
        </div>
      </div>
    </div>
    <!-- Column -->
    
  </div>

  <ng-template #orderConfirm let-modal>
    <div class="modal-body">
      <label>Add Note</label>
      <div class=" mb-3">
        <textarea name="" id="" cols="30" rows="5" class="form-control"></textarea>
        <div class="input-group-append">
          <button class="btn mr-0 btn-primary mt-2" type="button" (click)="modal.close()">Submit</button>
        </div>
      </div>

    </div>
  </ng-template>
  
  <ng-template #accept let-modal>
    <div class="modal-body">
      <p>Are you sure ? </p>
      <div class="btn-group">
        <button type="button" class="btn btn-primary mr-2" aria-label="Close"
          (click)="UpdateStatus()">Yes</button>
        <button type="button" class="btn btn-seconadary" aria-label="Close"
          (click)="modal.dismiss('Cross click')">No</button>
      </div>
    </div>
  </ng-template>

  <ng-template #comment let-modal>
    <div class="modal-body">
     <button class="btn close-icon" (click)="modal.close()"><i class="mdi mdi-close"></i></button> 
      <label>Comment</label>
      <div class=" mb-3">
          <p>{{comments||'null'}}</p>
      </div>

    </div>
  </ng-template>

  <ng-template #map let-modal>
    <div class="modal-body">
     <button class="btn close-icon" (click)="modal.close()"><i class="mdi mdi-close"></i></button>     
      <div class=" mb-3">
        <div >
          <agm-map [latitude]="lat" [longitude]="lng" [zoom]="14">
            <agm-marker [latitude]="lat" [agmFitBounds]="true" [longitude]="lng"></agm-marker>
       </agm-map>
        </div>
      </div>

    </div>
  </ng-template>