<style>
  .sebm-google-map-container {
    width: 100%;
    height: 150px;
    display: flex;
  }
</style>
<div class="row">
    <!-- Column -->
    <div class="col-lg-4 col-xlg-3 col-md-5">
        <div class="card">
            <div class="card-body text-center">
                <div class="m-t-30 text-center">
                    <img [src]="(ProfilePic)?(ProfilePic):'assets/images/users/1.jpg'" class="rounded-circle" width="150" height="150" />               
                </div>
                <!-- <div class="upload-btn-wrapper">
                    <button class="btn-upload"><i class="mdi mdi-pencil"></i></button>
                    <input type="file" name="myfile" />
                  </div> -->
            </div>
            <div>
                <hr> </div>
            <div class="card-body">
                <small class="text-muted p-t-30 db">Full Name</small>
                <h6>{{profileData?.firstName+' '+profileData?.lastName}}</h6>
                <small class="text-muted">Email address </small>
                <h6>{{profileData?.email}}</h6>
                <small class="text-muted p-t-30 db" *ngIf="profileData?.dialCode && profileData?.phoneNo">Phone</small>
                <h6 *ngIf="profileData?.dialCode && profileData?.phoneNo">{{profileData?.dialCode+'-'+profileData?.phoneNo}}</h6>
                <small class="text-muted p-t-30 db">Address</small>
                <h6>{{address}}</h6>
                <div >
                  <agm-map [latitude]="lat" [longitude]="lng" [zoom]="14">
                    <agm-marker [latitude]="lat" [agmFitBounds]="true" [longitude]="lng"></agm-marker>
               </agm-map>
                </div>
           
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-8 col-xlg-9 col-md-7">
        <div class="card">
            <ngb-tabset type="pills" class="custom-pills">     
                <ngb-tab title="Profile">
                    <ng-template ngbTabContent>
                        <div class="card-body">
                          <div class="row">
                            <div class="col-md-12 col-xs-6 b-r"> <strong>Full Name</strong>
                              <br>
                              <p class="text-muted">{{profileData?.firstName+' '+profileData?.lastName}}</p>
                          </div>
                          <div class="col-md-12 col-xs-6 b-r"> <strong>Mobile</strong>
                              <br>
                              <p class="text-muted">{{profileData?.dialCode+'-'+profileData?.phoneNo}}</p>
                          </div>
                          <div class="col-md-12 col-xs-6 b-r"> <strong>Email</strong>
                              <br>
                              <p class="text-muted">{{profileData?.email}}</p>
                          </div>
                          <div class="col-md-12 col-xs-6"> <strong>Location</strong>
                              <br>
                              <p class="text-muted">{{address}}</p>
                          </div>
                          <div class="col-md-12 col-xs-6 b-r"> <strong>Date of Birth</strong>
                            <br>
                            <p class="text-muted">{{profileData?.birthDate}}</p>
                        </div>
                        <div class="col-md-3 col-xs-6 b-r"> <strong>Opening Time</strong>
                          <br>
                          <p class="text-muted">10:00 AM</p>
                      </div>
                      <div class="col-md-3 col-xs-6 b-r"> <strong>Closeing Time</strong>
                        <br>
                        <p class="text-muted">8:00 PM</p>
                    </div>
                          <div class="col-md-12 col-xs-6 b-r"> <strong>Address</strong>
                            <br>
                            <p class="text-muted">{{address}}</p>
                        </div>
                        <div class="col-md-12 col-xs-6 b-r"> <strong>Massege</strong>
                          <br>
                          <p class="text-muted">{{profileData?.message||'Not avaialble'}}</p>
                      </div>
                      </div>
                            <hr>
                            <!-- <p class="m-t-30">Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.</p>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries </p> -->
                        </div>
                    </ng-template>
                </ngb-tab>      
           
                <ngb-tab title="Settings">
                  
                    <ng-template ngbTabContent>
                      <div class="card p-3">    
                        <h4 class="">Vendor Detail</h4>
                          <form [formGroup]="profileForm">
                            <div class="form-body">
                              <div class="card-body">
                                  <!-- <div class="row">
                                      <div class="col-md-12 text-right">
                                          <button routerLink="/pages/vendors" class="btn btn-primary ">Back</button>
                                      </div>
                                  </div> -->
                                  <!-- end row -->
                                <div class="row p-t-20">
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <label class="control-label">First Name</label>
                                      <input type="text" id="firstName" class="form-control" placeholder="John doe" formControlName="firstName">
                                      <p class="text-danger"
                                      *ngIf="submitted && errorHandling('firstName', 'required')">
                                      First name is required!
                                  </p>
                                  <p class="text-danger"
                                      *ngIf=" errorHandling('firstName', 'pattern')">
                                      First name should alphabetic!
                                  </p>
                                    </div>
                                  </div>
                                  <!--/span-->
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <label class="control-label">Last Name</label>
                                      <input type="text" id="firstName" class="form-control" placeholder="John doe" formControlName="lastName">
                                      <p class="text-danger"
                                      *ngIf="submitted && errorHandling('lastName', 'required')">
                                      Last name is required!
                                  </p>
                                  <p class="text-danger"
                                      *ngIf=" errorHandling('lastName', 'pattern')">
                                      Last name should alphabetic!
                                  </p>
                                    </div>
                                  </div>
                                   <!--/span-->
                                  <div class="col-md-6">
                                    <div class="form-group has-success">
                                      <div class="form-group">
                                        <label class="control-label">Upload Banner</label>
                                        <div class="custom-file"><input class="custom-file-input" (change)="uploadFile($event)" id="inputGroupFile01" type="file" formControlName="image"
                                            ><label class="custom-file-label text-nowrap text-truncate" for="inputGroupFile01">{{fileName?fileName:'Choose file'}}</label>
                                            <p class="text-danger"
                                            *ngIf="submitted && errorHandling('image', 'required')">
                                            Vendor Profile is required!
                                        </p>
                                        
                                          </div>
                                      </div>
                                    </div>
                                  </div>
                                  <!--/span-->
                                  <!-- <div class="col-md-6">
                                    <div class="form-group has-success">
                                      <div class="form-group">
                                        <label class="control-label"></label>
                                        <div class="custom-file"><input class="custom-file-input" id="inputGroupFile01" type="file"
                                            ><label class="custom-file-label" for="inputGroupFile01">Choose file</label></div>
                                      </div>
                                    </div>
                                  </div> -->
                                  <!--/span-->
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <label class="control-label">Restaurant Name</label>
                                      <input type="text" id="firstName" class="form-control" placeholder="Restaurant name" formControlName="resturant">
                                      <p class="text-danger"
                                      *ngIf="submitted && errorHandling('resturant', 'required')">
                                      Resturant name is required!
                                  </p>
                                    </div>
                                  </div>
                                </div>
                                <!--/row-->
                                <div class="row ">
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <label class="control-label">Date of birth</label>
                                      <input type="date" id="firstName" class="form-control" [max]="service.getToday()" placeholder="" formControlName="dob">
                                      <p class="text-danger"
                                      *ngIf="submitted && errorHandling('dob', 'required')">
                                      Date of birth is required!
                                  </p>
                                    </div>
                                  </div>
                                  <!--/span-->
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <label class="control-label">Email</label>
                                      <input type="email" id="firstName" class="form-control" placeholder="example@gmail.com" formControlName="email">
                                      <p class="text-danger"
                                      *ngIf="submitted && errorHandling('email', 'required')">
                                      Email is required!
                                  </p>
                                  <p class="text-danger"
                                      *ngIf=" errorHandling('email', 'pattern')">
                                      Email is not valid!
                                  </p>
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <label class="control-label">Are you currently delivering right now?*</label>
                                      <select formControlName="isDelivery" id="" class="form-control">
                                        <option value="">Choose option</option>
                                        <option value="true">Yes</option>
                                        <option value="false">No</option>
                                      </select>
                                    </div>
                                    <p class="text-danger"
                                      *ngIf="submitted && errorHandling('isDelivery', 'required')">
                                      This field is required!
                                  </p>
                                  </div>
                                  <!--/span-->
                                  <!-- <div class="col-md-6">
                                    <div class="form-group has-danger">
                                      <label class="control-label">Vendor ID</label>
                                      <input type="text" id="email" class="form-control form-control-danger" placeholder="#46543343">
                                    </div>
                                  </div> -->
                                  <!--/span-->
                                  <div class="col-md-6">
                                    <div class="form-group has-danger">
                                      <label class="control-label">Zip</label>
                                      <input type="text" id="zip" formControlName="zip" class="form-control form-control-danger" placeholder="eg:44343">
                                      <p class="text-danger"
                                      *ngIf="submitted && errorHandling('zip', 'required')">
                                      Zip code is required!
                                  </p>
                                  <p class="text-danger"
                                      *ngIf=" errorHandling('zip', 'pattern')">
                                      Zip code should numeric!
                                  </p>
                                  <p class="text-danger"
                                      *ngIf=" errorHandling('zip', 'minlength')">
                                      Minlength of zip code should 5!
                                  </p>
                                  <p class="text-danger"
                                      *ngIf=" errorHandling('zip', 'maxlength')">
                                      Maxlength of zip code should 7!
                                  </p>
                                  
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group has-danger">
                                      <label class="control-label">
                                        Type of restaurant</label>
                                      <input type="text" id="zip" class="form-control form-control-danger" formControlName="resturantType" placeholder="eg:44343">
                                      <p class="text-danger"
                                      *ngIf="submitted && errorHandling('resturantType', 'required')">
                                      Type of restaurant is required!
                                  </p>
                                    </div>
                                  </div>
                                  <!--/span-->
                                  <!-- <div class="col-md-6">
                                    <div class="form-group has-danger">
                                      <label class="control-label">Total Orders</label>
                                      <input type="text" id="email" class="form-control form-control-danger" placeholder="40">
                                    </div>
                                  </div> -->
                                  <!--/span-->
                                  <div class="col-md-6">
                                    <div class="form-group has-danger">
                                      <label class="control-label">City</label>
                                      <input type="text" id="city" class="form-control form-control-danger" placeholder="Berlin" formControlName="city">
                                      <p class="text-danger"
                                      *ngIf="submitted && errorHandling('city', 'required')">
                                      City is required!
                                  </p>
                                    </div>
                                  </div>
                                  <!-- <div class="col-md-6">
                                    <div class="form-group has-danger">
                                      <label class="control-label">Opening Time</label>
                                      <input type="time" id="email" class="form-control form-control-danger" placeholder="00">
                                    </div>
                                  </div>  -->
                                  <!--/span-->
                                   <!-- <div class="col-md-6">
                                    <div class="form-group has-danger">
                                      <label class="control-label">Closing Time</label>
                                      <input type="time" id="email" class="form-control form-control-danger" placeholder="40">
                                    </div>
                                  </div> -->
                                  <!--/span-->
                                 
                                  <!--/span-->
                                  <!-- <div class="col-md-12">
                                    <div class="form-group has-danger">
                                      <label class="control-label">Pincode</label>
                                      <input type="text" id="email" class="form-control form-control-danger" placeholder="Pincode">
                                    </div>
                                  </div> -->
                                  <!--/span-->
                                  <div class="col-md-12">
                                    <div class="form-group has-danger">
                                      <label class="control-label">Address</label>
                                      <textarea name="" id="" cols="30" rows="5" class="form-control" #ref ngx-google-places-autocomplete #placesRef="ngx-places"
                                      (onAddressChange)="AddressChange($event,ref.value)" formControlName="address"
                                        placeholder="#433 New garden Complex"></textarea>
                                        <p class="text-danger"
                                        *ngIf="submitted && errorHandling('addres', 'required')">
                                        Address is required!
                                    </p>
                                      </div>
                                  </div>
                                  <!--/span-->
                                </div>
                                <!--/row-->
                             
                        
                          
                          <h4>Opening days</h4>
                         
                            
                            <div class="row mb-3">
                              <div class="col-md-4">
                                <div class="row">
                                  <div class="col-md-6"><label>Monday</label></div>
                                  <div class="col-md-6"><mat-slide-toggle class="" [(ngModel)]="IsMon" [ngModelOptions]="{standalone: true}" color="primary"
                                   >{{(IsMon == true)?'Open':'Closed'}}</mat-slide-toggle></div>
                                  </div>
                                </div>
                                <div class="col" *ngIf="IsMon">
                                  <div class="row d-inline" formArrayName="items"
                                  *ngFor="let item of profileForm.get('items').controls; let i = index;">
                                  <div [formGroupName]="i">
                                    <div class="form-group">
                                      <input type="time" class="form-control" formControlName="start">
                                    </div>
                                    <div class="form-group">
                                      <input type="time" class="form-control" formControlName="end">
                                   </div>
                                 </div>
                                 <button (click)="removeUser('mon',i)"><i class="fa fa-minus" aria-hidden="true"></i></button> 
                               </div>
                                </div>  
                                <div class="col-md-2" *ngIf="IsMon"><a (click)="addItem('mon')"><i class="fa fa-plus" title="Add hours" aria-hidden="true"></i></a></div>
                                <div class="offset-md-4 col-md-8 mt-2 ">
                                  <div class=" showInputField">
                                  </div>
                                </div>  
                              </div>
                              <div class="row mb-3">
                                <div class="col-md-4">
                                  <div class="row">
                                    <div class="col-md-6"><label>Tuesday</label></div>
                                    <div class="col-md-6"><mat-slide-toggle class="" [(ngModel)]="IsTue" [ngModelOptions]="{standalone: true}" color="primary"
                                      >{{(IsTue == true)?'Open':'Closed'}}</mat-slide-toggle></div>
                                    </div>
                                  </div>
                                  <div *ngIf="IsTue">
                                  <div class="col-md-8" formArrayName="tue"
                                  *ngFor="let item of profileForm.get('tue').controls; let i = index;">
                                    <div class="row" [formGroupName]="i">
                                      <div class="col-md-5">
                                        <input type="time" placeholder="" class="form-control" formControlName="start">
                                      </div>
                                      <div class="col-md-5"><input type="time" placeholder="" formControlName="end" class="form-control"></div>
                                      <button (click)="removeUser('tue',i)"><i class="fa fa-minus" aria-hidden="true"></i></button>
                                      
                                    </div>
                                  </div>  
                                  <div class="col-md-2"><a (click)="addItem('tue')"><i class="fa fa-plus" title="Add hours" aria-hidden="true"></i></a></div>
                                  </div>
                                  <div class="offset-md-4 col-md-8 mt-2 ">
                                    <div class=" showInputField">
                                      
                                    </div>
                                  </div>  
                                </div>
                                <div class="row mb-3">
                                  <div class="col-md-4">
                                    <div class="row">
                                      <div class="col-md-6"><label>Wednesday</label></div>
                                      <div class="col-md-6"><mat-slide-toggle class="" [(ngModel)]="IsWed" [ngModelOptions]="{standalone: true}" color="primary"
                                        >{{(IsWed == true)?'Open':'Closed'}}</mat-slide-toggle></div>
                                      </div>
                                    </div>
                                    <div *ngIf="IsWed">
                                      <div class="col-md-8" formArrayName="wed"
                                      *ngFor="let item of profileForm.get('wed').controls; let i = index;">
                                        <div class="row" [formGroupName]="i">
                                          <div class="col-md-5">
                                            <input type="time" placeholder="" class="form-control" formControlName="start">
                                          </div>
                                          <div class="col-md-5"><input type="time" placeholder="" formControlName="end" class="form-control"></div>
                                          <button (click)="removeUser('wed',i)"><i class="fa fa-minus" aria-hidden="true"></i></button>
                                          <!-- <div class="col-md-2"><a href="javascript:void()" (click)="add()">Add hours</a></div> -->
                                        </div>
                                      </div>  
                                    </div>
                                    
                                    <div class="col-md-2" *ngIf="IsWed"><a (click)="addItem('wed')"><i class="fa fa-plus" title="Add hours" aria-hidden="true"></i></a></div>
                                    <div class="offset-md-4 col-md-8 mt-2 ">
                                      <div class=" showInputField">
                                        
                                      </div>
                                    </div>  
                                  </div>
                                  <div class="row mb-3">
                                    <div class="col-md-4">
                                      <div class="row">
                                        <div class="col-md-6"><label>Thusrday</label></div>
                                        <div class="col-md-6"><mat-slide-toggle class="" [(ngModel)]="IsThu" [ngModelOptions]="{standalone: true}" color="primary"
                                          >{{(IsThu == true)?'Open':'Closed'}}</mat-slide-toggle></div>
                                        </div>
                                      </div>
                                      <div *ngIf="IsThu">
                                      <div class="col-md-8" formArrayName="thu"
                                      *ngFor="let item of profileForm.get('thu').controls; let i = index;">
                                        <div class="row" [formGroupName]="i">
                                          <div class="col-md-5">
                                            <input type="time" placeholder="" class="form-control" formControlName="start">
                                          </div>
                                          <div class="col-md-5"><input type="time" placeholder="" class="form-control" formControlName="end"></div>
                                          <button (click)="removeUser('thu',i)"><i class="fa fa-minus" aria-hidden="true"></i></button>
                                          <!-- <div class="col-md-2"><a href="javascript:void()" (click)="add()">Add hours</a></div> -->
                                        </div>
                                      </div> 
                                     </div>
                                      <div class="col-md-2" *ngIf="IsThu"><a (click)="addItem('thu')"><i class="fa fa-plus" title="Add hours" aria-hidden="true"></i></a></div>
                                      <div class="offset-md-4 col-md-8 mt-2 ">
                                        <div class=" showInputField">
                                        </div>
                                      </div>  
                                    </div>           
                                      <div class="row mb-3">
                                        <div class="col-md-4">
                                          <div class="row">
                                            <div class="col-md-6"><label>Friday</label></div>
                                            <div class="col-md-6"><mat-slide-toggle class="" [(ngModel)]="IsFri" [ngModelOptions]="{standalone: true}" color="primary"
                                              >{{(IsFri == true)?'Open':'Closed'}}</mat-slide-toggle></div>
                                            </div>
                                          </div>
                                          <div *ngIf="IsFri">
                                         <div class="col-md-8" formArrayName="fri"
                                            *ngFor="let item of profileForm.get('fri').controls; let i = index;">
                                              <div class="row" [formGroupName]="i">
                                                <div class="col-md-5">
                                                  <input type="time" placeholder="" class="form-control" formControlName="start">
                                                </div>
                                                <div class="col-md-5"><input type="time" placeholder="" formControlName="end" class="form-control"></div>
                                                <button (click)="removeUser('fri',i)"><i class="fa fa-minus" aria-hidden="true"></i></button>
                                              </div>
                                            </div> 
                                           </div>
                                          <div class="col-md-2" *ngIf="IsFri"><a (click)="addItem('fri')"><i class="fa fa-plus" title="Add hours" aria-hidden="true"></i></a></div>
                                          <div class="offset-md-4 col-md-8 mt-2 ">
                                            <div class=" showInputField">
                                              
                                            </div>
                                          </div>  
                                        </div>

                                        <div class="row mb-3">
                                          <div class="col-md-4">
                                            <div class="row">
                                              <div class="col-md-6"><label>Saturday</label></div>
                                              <div class="col-md-6"><mat-slide-toggle class="" [(ngModel)]="IsSat" [ngModelOptions]="{standalone: true}" color="primary"
                                                >{{(IsSat== true)?'Open':'Closed'}}</mat-slide-toggle></div>
                                              </div>
                                            </div>
                                            <div *ngIf="IsSat">
                                              <div class="col-md-8" formArrayName="sat"
                                              *ngFor="let item of profileForm.get('sat').controls; let i = index;">
                                                <div class="row" [formGroupName]="i">
                                                  <div class="col-md-5">
                                                    <input type="time" placeholder="" class="form-control" formControlName="start">
                                                  </div>
                                                  <div class="col-md-5"><input type="time" placeholder="" formControlName="end" class="form-control"></div>
                                                  <button (click)="removeUser('sat',i)"><i class="fa fa-minus" aria-hidden="true"></i></button>
                                                </div>
                                              </div>  
                                            </div>
                                            
                                            <div class="col-md-2" *ngIf="IsSat"><a (click)="addItem('sat')"><i class="fa fa-plus" title="Add hours" aria-hidden="true"></i></a></div>
                                            <div class="offset-md-4 col-md-8 mt-2 ">
                                              <div class=" showInputField">
                                                
                                              </div>
                                            </div>  
                                          </div>
                                          <div class="row mb-3">
                                            <div class="col-md-4">
                                              <div class="row">
                                                <div class="col-md-6"><label>Sunday</label></div>
                                                <div class="col-md-6"><mat-slide-toggle class="" [(ngModel)]="IsSun" [ngModelOptions]="{standalone: true}" color="primary"
                                                  >{{(IsSun == true)?'Open':'Closed'}}</mat-slide-toggle></div>
                                                </div>
                                              </div>
                                              <div *ngIf="IsSun">
                                                <div class="col-md-8" formArrayName="sun"
                                                *ngFor="let item of profileForm.get('sun').controls; let i = index;">
                                                  <div class="row"  [formGroupName]="i">
                                                    <div class="col-md-5">
                                                      <input type="time" placeholder="" class="form-control" formControlName="start">
                                                    </div>
                                                    <div class="col-md-5"><input type="time" formControlName="end" placeholder="" class="form-control"></div>
                                                    <button (click)="removeUser('sun',i)"><i class="fa fa-minus" aria-hidden="true"></i></button>
                                                  </div>
                                                </div>  
                                              </div>
                                             
                                              <div class="col-md-2" *ngIf="IsSun"><a (click)="addItem('sun')"><i class="fa fa-plus" title="Add hours" aria-hidden="true"></i></a></div>
                                              <div class="offset-md-4 col-md-8 mt-2 ">
                                                <div class=" showInputField">
                                                  
                                                </div>
                                              </div>  
                                            </div>
                                            <div class="row mb-3">
                                              <div class="col-md-12">
                                                <div class="row">
                                                  <div class="col-md-6"><label>Shop Status</label></div>
                                                  <div class="col-md-6"><mat-slide-toggle class="" color="primary"(change)=
                                                    "check($event,'shop')" >{{(checked == 'shop')?'Enable':'Disable'}}</mat-slide-toggle></div>
                                                  </div>
                                                </div>                                           
                                              </div>
                                              <div class="row mb-3">
                                                <div class="col-md-12">
                                                  <div class="row">
                                                    <div class="col-md-6"><label>Coming Soon</label></div>
                                                    <div class="col-md-6"><mat-slide-toggle class="" color="primary"(change)=
                                                      "check($event,'shop')" >{{(checked == 'shop')?'Enable':'Disable'}}</mat-slide-toggle></div>
                                                    </div>
                                                  </div>                     
                                                </div>
                                              <div class="col-md-12">                        
                                                  <button type="submit" class="btn btn-primary mr-3" (click)="updateProfile()">
                                                    Update</button>
                                                  <!-- <button type="button" class="btn btn-dark" >Cancel</button> -->
                                                </div>
                                              </div>                   
                                          </div>
                                          </form>
                            </div> 
                        </ng-template>                         
                </ngb-tab>
            </ngb-tabset>
        </div>
    </div>
    <!-- Column -->
</div>
