
<div class="row">
  <!-- Column -->
  <div class="col-lg-12 ">
    <div class="d-flex mb-2">
      <a routerLink="/pages/useredit" class="btn btn-primary ">Edit</a>
      <a routerLink="/pages/users" class="btn btn-primary ml-auto">Back</a>
    </div>
  
    <div class="card p-3">
          <div class="row">
            <div class="col-md-6">
              <div class="card-body p-3 bg-light border">
                <div class=" text-center">
                  <img src="assets/images/users/1.jpg" class="rounded-circle" width="150" />
                </div>
                <ul class="list-block pl-0 ">
                  <!-- <li class="list-block-listing pr-2 pb-2"><span class="font-weight-600 d-block">Name:</span> Hanna Gover</li> -->
                  <li class="list-block-listing pr-2 pb-2"><span class="font-weight-600 d-block">Phone No. :</span> <a href="tel:+919564345452" >+91-9564345452</a>
                  </li>
                  <li class="list-block-listing pr-2 pb-2"><span class="font-weight-600 d-block">Email:</span> <a href="mailto:hanna@example.com" >hanna@@example.com</a></li>
                  <li class="list-block-listing pr-2 pb-2"><span class="font-weight-600 d-block">Address:</span> <a href="javascript:void()">#454 1st Block, Rammurthy, Bangalore-560016</a> 
                    <div class="map-box mt-2">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d470029.1604841957!2d72.29955005258641!3d23.019996818380896!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e848aba5bd449%3A0x4fcedd11614f6516!2sAhmedabad%2C+Gujarat!5e0!3m2!1sen!2sin!4v1493204785508"
                          width="100%" height="150" frameborder="0" style="border:0" allowfullscreen></iframe>
                  </div>
                  </li>
                 
                </ul>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card-body p-3 bg-light border">
              <div class="row">
                <div class="col-md-12"> <h4>Profile</h4></div>
                <div class="col-md-6">                 
                  <ul class="list-block pl-0">
                    <li class="list-block-listing pr-2 pb-2"> <span class="font-weight-600 d-block">User ID: </span>elite2345</li>
                  </ul>
                </div>
                <div class="col-md-6">
                  <ul class="list-block pl-0 ">
                    <li class="list-block-listing pr-2 pb-2"> <span class="font-weight-600 d-block">Full Name: </span>Hanna Gover</li>
                  </ul>
                </div>
                <div class="col-md-12"> <h4>Orders</h4></div>
                <div class="col-md-6">
                  <ul class="list-block pl-0 list-style-none">
                    <li class="list-block-listing pr-2 pb-2"> <span class="font-weight-600 d-block">Completed Orders: </span>28</li>
                    <li class="list-block-listing pr-2 pb-2">  <span class="font-weight-600 d-block">Canceled Orders:</span>2</li>
                    <li class="list-block-listing pr-2 pb-2">  <span class="font-weight-600 d-block">Pending Orders:</span>2</li>
                    <li class="list-block-listing pr-2 pb-2"> <span class="font-weight-600 d-block">Cancelation Rate:</span>10%</li>
                    <!-- <li class="list-block-listing pr-2 pb-2"> <span class="font-weight-600 d-block">Payment Not Completed:</span>0</li> -->
                  </ul>
                </div> 
                <div class="col-md-6">
                  <ul class="list-block pl-0 list-style-none">
                    <!-- <li class="list-block-listing pr-2 pb-2"> <span class="font-weight-600 d-block">Cancelation Rate: </span>0%</li> -->
                    <li class="list-block-listing pr-2 pb-2">  <span class="font-weight-600 d-block">Payment Not Completed:</span>2</li>
                    <li class="list-block-listing pr-2 pb-2">  <span class="font-weight-600 d-block">Total Orders:</span>30</li>
                    <li class="list-block-listing pr-2 pb-2">  <span class="font-weight-600 d-block">Amount Spent:</span><i class="fas fa-euro-sign"></i>200</li>
  
                  </ul>
                </div> 
                <div class="col-md-6">
                  <!-- Card -->
                  <div class="card">
                      <div class="card-body card-box ">
                          <div class="d-flex align-items-center">
                              <div class="m-r-10">
                                  <span class="btn btn-circle btn-sm  btn-info p-1">
                                      <i class="mdi mdi-account text-white font-16"></i>
                                  </span>
                              </div>
                              <div>
                                Most Used Section
                                <h5 class=" mb-0">Fastfood</h5>
                              </div>
                             
                          </div>
                      </div>
                  </div>
                  <!-- Card -->
              </div>
              <!-- col-md-4 -->
              <div class="col-md-6">
                  <!-- Card -->
                  <div class="card">
                      <div class="card-body card-box ">
                          <div class="d-flex align-items-center">
                              <div class="m-r-10">
                                  <span class="btn btn-circle btn-sm  bg-danger p-1">
                                      <i class="mdi mdi-clock text-white font-16"></i>
                                  </span>
                              </div>
                              <div>
                                  <p class="mb-0">Time Spend</p> 
                                  <h5 class="m-b-0">30/Min</h5>
                              </div>
                             
                          </div>
                      </div>
                  </div>
                  <!-- Card -->
              </div>      
                  <!-- Column -->
                  <div class="col-md-6">
                    <!-- Card -->
                    <div class="card">
                        <div class="card-body card-box ">
                            <div class="d-flex align-items-center">
                                <div class="m-r-10">
                                    <span class="btn btn-circle btn-sm  bg-danger p-1">
                                        <i class="mdi mdi-ticket-confirmation text-white font-16"></i>
                                    </span>
                                </div>
                                <div>
                                    <p class="mb-0">Most used coupon</p> 
                                    <h5 class="m-b-0">BLACK20</h5>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                    </div>
                    <!-- Card -->
                </div>      
              </div>
            </div>                      
          </div>      
    </div>
  </div>
  <!-- Column -->
  <!-- Column -->
  <div class="col-lg-12">
    <h2 class="pt-2">Order History</h2>
    <div class="card ">

      <div class="card-body">
        <div class="row pb-2">
          <div class="col-md-4">
            <div>
              <input type="text" class="form-control" id="prenametext" placeholder="Search">
            </div>
          </div>
          <div class="col-md-8 text-right">
            <div class="d-block">
              <mat-form-field appearance="fill">
                <mat-label> Filter by date</mat-label>
                <mat-date-range-input [rangePicker]="picker">
                  <input matStartDate placeholder="Start date">
                  <input matEndDate placeholder="End date">
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
              </mat-form-field>
            </div>
          
            <div ngbDropdown class="d-inline-block mr-2">
              <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
                Filter by coupon
              </button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button class="dropdown-item">BLACK20</button>
                <button class="dropdown-item">APP30</button>
                <button class="dropdown-item">APP20</button>
              </div>
            </div>
            <div ngbDropdown class="d-inline-block mr-2">
              <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
                Filter by rider
              </button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button class="dropdown-item">John</button>
                <button class="dropdown-item">Methew</button>
                <button class="dropdown-item">Andrew</button>
              </div>
            </div>
            <div ngbDropdown class="d-inline-block ">
              <button class="btn btn-outline-primary mr-2" id="dropdownBasic1" ngbDropdownToggle>
                Filter by restaurant
              </button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button class="dropdown-item">Leuven</button>
                <button class="dropdown-item">Mcdonalds</button>               
              </div>
            </div>
         
            <div ngbDropdown class="d-inline-block ">
              <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
                Filter by orders status
              </button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button class="dropdown-item">Completed Orders</button>
                <button class="dropdown-item">Cancelled Orders</button>
                <button class="dropdown-item">Pending Orders</button>
              </div>
            </div>
          </div>
        </div>

        <div class="table-responsive">
          <table mat-table class="w-100" [dataSource]="dataSource" matSort>
        
            <!-- ID Column -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
              <td mat-cell *matCellDef="let row" class="text-nowrap"> {{row.id}} <a routerLink="/pages/orderdetail"><i class="sl-icon-info"></i></a></td>
            </ng-container>
        
            <!-- Progress Column -->
            <ng-container matColumnDef="hotelName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Restaurant </th>
              <td mat-cell *matCellDef="let row" class="text-nowrap"> {{row.hotelName}} </td>
            </ng-container>
        
            <!-- Name Column -->
            <!-- <ng-container matColumnDef="productname">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-nowrap"> Product name </th>
              <td mat-cell *matCellDef="let row" class="text-nowrap"> {{row.productname}} </td>
            </ng-container> -->
        
            <!-- Color Column -->
            <ng-container matColumnDef="orderdate">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Order Date </th>
              <td mat-cell *matCellDef="let row" [style.color]="row.color" class="text-nowrap"> {{row.orderdate}} </td>
            </ng-container>
        
            <ng-container matColumnDef="deliverydate">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-nowrap"> Delivery Date </th>
              <td mat-cell *matCellDef="let row" [style.color]="row.color" class="text-nowrap"> {{row.deliverydate}} </td>
            </ng-container>
            
            <ng-container matColumnDef="delivery_man">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-nowrap"> Delivery Man </th>
              <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.delivery_man}} </td>
            </ng-container>
            <ng-container matColumnDef="price">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
              <td mat-cell *matCellDef="let row" [style.color]="row.color"><i class="fas fa-euro-sign"></i> {{row.price}} </td>
            </ng-container>
            <ng-container matColumnDef="coupon">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-nowrap"> Coupon Used </th>
              <td mat-cell *matCellDef="let row" [style.color]="row.color" class="text-nowrap"> {{row.coupon}} </td>
            </ng-container>
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-nowrap"> Order Status </th>
              <td mat-cell *matCellDef="let row" [style.color]="row.color" class="text-nowrap"> <button class="btn" [ngClass]="row.status == 'Cancelled' ? 'btn-outline-danger': (row.status == 'Pending') ? 'btn-outline-info' : 'btn-outline-success' ">{{row.status}}</button> </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
          </table>
        
          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
      </div>
    </div>
  </div>
  <!-- Column -->
</div>
<ng-template #discount let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Coupons</h4>
    <button type="button" class="close-icon" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
   <div class="table-reponsive">
     <table class="table table-sm">
      <tbody> 
       <tr>            
       <td class="align-middle">Get 20% OFF On Food Orders</td>
       <td><button class="food-code btn btn-success">
        Food20
       </button></td>
      </tr>
      <tr>            
        <td class="align-middle">Get 60% OFF On Food Orders</td>
        <td><button class="food-code btn btn-success">
         Food60
        </button></td>
       </tr>
       <tr>            
        <td class="align-middle">Get 60% OFF On Food Orders</td>
        <td><button class="food-code btn btn-success">
         Food60
        </button></td>
       </tr>
       <tr>            
        <td class="align-middle">Get 60% OFF On Food Orders</td>
        <td><button class="food-code btn btn-success">
         Food60
        </button></td>
       </tr>
       </tbody>
     </table>
   </div>
  </div>
 
</ng-template>

<!-- mat table -->
<!-- <mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput formcontrol='filter' (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
</mat-form-field> -->


<!-- <mat-form-field>
  <mat-label>Filter</mat-label>
   <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input> 
</mat-form-field> -->


