<div class="auth-wrapper d-flex no-block justify-content-center align-items-center" style="background:url(assets/images/background/login-register.jpg) no-repeat center center;background-size: cover;">
    <div class="auth-box on-sidebar">
        <div>
            <div class="logo">
                <span class="db"><img src="assets/images/logo-icon.svg" alt="logo" /></span>
                <h5 class="font-medium m-b-20 pt-2">Register for the admin dashboard</h5>
            </div>
            <!-- Form -->
            <ul ngbNav #nav="ngbNav" class="nav-tabs custom-tab">
                <li ngbNavItem class="">
                  <a ngbNavLink class="text-white">Sign up with email</a>
                  <ng-template ngbNavContent>
                    <div class="row">
                        <div class="col-12">
                            <form class="form-horizontal m-t-20" [formGroup]="signUpWithEmail">
                                <div class=" row cstm_fld">
                                    <div class="col-12 ">
                                        <div class="form-group">
                                        <input class="form-control form-control-lg" (keydown.space)="$event.preventDefault()"type="text" placeholder="First Name" formControlName="firstName">
                                        <p class="erroe_msg"
                *ngIf="submitted && errorHandlingSignup('firstName', 'required')">First name is required!</p>
                <p class="erroe_msg"
                *ngIf="errorHandlingSignup('firstName', 'pattern')"> First name should alphabetic only!</p>
                                    </div>
                                </div>
                                    <div class="col-12 ">
                                        <div class="form-group">
                                            <input class="form-control form-control-lg" type="text" placeholder="Last Name"(keydown.space)="$event.preventDefault()" formControlName="lastName">
                                            <p class="erroe_msg"
                                            *ngIf="submitted && errorHandlingSignup('lastName', 'required')">Last name is required!</p>
                                            <p class="erroe_msg"
                                            *ngIf="errorHandlingSignup('lastName', 'pattern')">Last name should alphabetic only!</p>
                                        </div>
                                    </div>
                                    <div class="col-12 ">
                                        <div class="form-group">
                                        <input class="form-control form-control-lg" type="text" required=" " placeholder="Email" formControlName="email">
                                        <p class="erroe_msg"
                                        *ngIf="submitted && errorHandlingSignup('email', 'required')">Email is required!</p>
                                        <p class="erroe_msg"
                                        *ngIf="errorHandlingSignup('email', 'pattern')">Email is not valid!</p>
                                    </div>
                                    </div>
                                    <div class="col-12 ">
                                        <div class="form-group">
                                        <input class="form-control form-control-lg" type="password" placeholder="Password" formControlName="password">
                                        <p class="erroe_msg"
                                        *ngIf="submitted && errorHandlingSignup('password', 'required')">Password is required!</p>
                                        <p class="erroe_msg"
                                        *ngIf="errorHandlingSignup('password', 'minlength')">Minlength of password should 8!</p>
                                    </div>
                                    </div>
                                    <div class="col-12 ">
                                        <div class="form-group">
                                        <input class="form-control form-control-lg" type="password" required=" " placeholder="Confirm Password" formControlName="confirmPassword">
                                        <p class="erroe_msg"
                                *ngIf="submitted && errorHandlingSignup('confirmPassword', 'required')">
                                Confirm password is required!
                                    </p>
                            <p class="erroe_msg"
                                *ngIf="(signUpWithEmail.get('confirmPassword').value.length>0) && signUpWithEmail.get('password').value !=  signUpWithEmail.get('confirmPassword').value">
                                Password mismatched!
                                </p>
                                    </div>
                                    </div>
                                </div>
                                <!-- <div class="form-group row">
                                    <div class="col-md-12 ">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                                            <label class="custom-control-label" for="customCheck1">I agree to all <a href="javascript:void(0)" class="text-white">Terms</a></label>
                                        </div>
                                    </div>
                                </div> -->
                                <div class="form-group">
                                    <ul class="d-flex">
                                        <li class="pr-2 text-white"><input type="radio" class="mr-1" name="yes">Shop</li>
                                        <li class="text-white"><input type="radio" class="mr-1" name="yes">Franchise</li>
                                      </ul>
                                </div>
                                <div class="form-group text-center ">
                                    <div class="col-xs-12 mb-0">
                                        <button class="btn btn-block btn-lg btn-theme" type="button" (click)="signUpEmail()">SIGN UP</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                  </ng-template>
                </li>
                <li ngbNavItem>
                  <a ngbNavLink class="text-white ">Sign up with phone no.</a>
                  <ng-template ngbNavContent>
                    <div class="row">
                        <div class="col-12">
                            <form class="form-horizontal m-t-20" [formGroup]="signUpWithPhone">
                                <div class="form-group row">
                                    <div class="col-12 ">
                                        <input class="form-control form-control-lg" type="text" placeholder="First Name" (keydown.space)="$event.preventDefault()"formControlName="firstName">
                                        <p class="erroe_msg"
                                        *ngIf="submitted && errorHandlingphone('firstName', 'required')">First name is required!</p>
                                        <p class="erroe_msg"
                                        *ngIf="errorHandlingphone('firstName', 'pattern')">First name should alphabetic only!</p>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-12 ">
                                        <input class="form-control form-control-lg" formControlName="lastName"type="text" (keydown.space)="$event.preventDefault()" placeholder="Last Name">
                                        <p class="erroe_msg"
                                        *ngIf="submitted && errorHandlingphone('lastName', 'required')">Last name is required!</p>
                                        <p class="erroe_msg"
                                        *ngIf="errorHandlingphone('lastName', 'pattern')">Last name should alphabetic only!</p>
                                    </div>
                                </div>
                                <div class="form-group row ">
                                    <div class="col-12 ">
                                        <!-- <input class="form-control form-control-lg" type="text" required=""  placeholder="Phone No."> -->
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                              <select class="form-control form-control-lg" (change)="someMethod($event.target.value)">
                                                <option *ngFor="let code of countrycode" [value]="code.dial_code"> {{code.dial_code}}</option>
                                                  </select>
                                            </div>
                                            <input type="text" class="form-control form-control-lg" placeholder="Phone no."  
                                            aria-label="Username" aria-describedby="basic-addon1" formControlName="phone">
                                          
                                        </div>
                                        <p class="erroe_msg"
                                        *ngIf="submitted && errorHandlingphone('phone', 'required')">
                                        Phone number is required!
                                    </p>
                                    <p class="erroe_msg"
                                        *ngIf="errorHandlingphone('phone', 'maxlength')">
                                        Maximum length should 15!
                                </p>
                                    <p class="erroe_msg"
                                    *ngIf="errorHandlingphone('phone', 'minlength')">
                                    Minimum length should 7!
                            </p>
                                <p class="erroe_msg"
                                    *ngIf="errorHandlingphone('phone', 'pattern')">
                                    Please enter valid phone no!
                        </p>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-12">
                                        <input class="form-control form-control-lg" type="text" required=" " placeholder="Email" formControlName="email">
                                        <p class="erroe_msg"
                                        *ngIf="submitted && errorHandlingphone('email', 'required')">Email is required!</p>
                                        <p class="erroe_msg"
                                        *ngIf="errorHandlingphone('email', 'pattern')">Email is not valid!</p>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-12 ">
                                        <input class="form-control form-control-lg" formControlName="password" type="password" required=" " placeholder="Password">
                                        <p class="erroe_msg"
                                        *ngIf="submitted && errorHandlingphone('password', 'required')">Password is required!</p>
                                        <p class="erroe_msg"
                                        *ngIf="errorHandlingphone('password', 'minlength')">Minlength of password should 8!</p>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-12 ">
                                        <input class="form-control form-control-lg" formControlName="confirmPassword" type="password" placeholder="Confirm Password">
                                        <p class="erroe_msg"
                                        *ngIf="submitted && errorHandlingphone('confirmPassword', 'required')">
                                        Confirm password is required!
                                            </p>
                                    <p class="erroe_msg"
                                        *ngIf="(signUpWithPhone.get('confirmPassword').value.length>0) && signUpWithPhone.get('password').value !=  signUpWithPhone.get('confirmPassword').value">
                                        Password mismatched!
                                        </p>
                                    </div>
                                </div>
                                <!-- <div class="form-group row">
                                    <div class="col-md-12 ">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                                            <label class="custom-control-label" for="customCheck1">I agree to all <a href="javascript:void(0)" class="text-white">Terms</a></label>
                                        </div>
                                    </div>
                                </div> -->
                                <div class="form-group">
                                    <ul class="d-flex">
                                        <li class="pr-2 text-white"><input type="radio" class="mr-1" name="yes">Shop</li>
                                        <li class="text-white"><input type="radio" class="mr-1" name="yes">Franchise</li>
                                      </ul>
                                </div>
                                <div class="form-group text-center ">
                                    <div class="col-xs-12 p-b-20 ">
                                        <button class="btn btn-block btn-lg btn-theme" type="button" (click)="phoneSignUp()">SIGN UP</button>
                                    </div>
                                    <div class="form-group m-b-0 m-t-10 ">
                                        <div class="col-sm-12 text-center text-white">
                                            Already have an account? <a routerLink="/login" class="text-white m-l-5 "><b>Sign In</b></a>
                                        </div>
                                    </div>
                                </div>
                               
                            </form>
                        </div>
                    </div>
                  </ng-template>
                </li>
              </ul>
              <div [ngbNavOutlet]="nav"></div>
              <!-- <div class="form-group m-b-0 m-t-10 ">
                <div class="col-sm-12 text-center text-white">
                    Already have an account? <a routerLink="/login" class="text-white m-l-5 "><b>Sign In</b></a>
                </div>
            </div> -->
        </div>
    </div>
</div>