<header class="bg-primary text-left p-2">
  <div class="container">
    <a href="javascript:void()"><img src="assets/images/logo-icon.svg" class="img-fluid"><img
        src="assets/images/logo-content.svg" class="img-fluid"></a>
  </div>
</header>
<div class="container mt-3">
  <div class="card p-3">
    <div *ngIf="this.role=='franchise'">
      <h4 class="">Vendor Franchise Detail</h4>
 <form [formGroup]="profileForm">
        <div class="form-body">
          <div class="card-body">
            <!-- <div class="row">
                  <div class="col-md-12 text-right">
                      <button routerLink="/pages/vendors" class="btn btn-primary ">Back</button>
                  </div>
              </div> -->
            <!-- end row -->
            <div class="row p-t-20">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">First Name</label>
                  <input type="text" id="firstName" class="form-control" placeholder="John" formControlName="firstName">
                  <p class="error"
                  *ngIf="submitted && errorHandling('firstName', 'required')">
                  First name is required!
              </p>
              <p class="error"
                  *ngIf=" errorHandling('firstName', 'pattern')">
                  First name should alphabetic!
              </p>
                </div>
              </div>
              <!--/span-->
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Last Name</label>
                  <input type="text" id="firstName" class="form-control" placeholder="doe" formControlName="lastName">
                  <p class="error"
                  *ngIf="submitted && errorHandling('lastName', 'required')">
                  Last name is required!
              </p>
              <p class="error"
                  *ngIf=" errorHandling('lastName', 'pattern')">
                  Last name should alphabetic!
              </p>
                </div>
              </div>
              <!--/span-->
              <div class="col-md-6">
                <div class="form-group has-success">
                  <div class="form-group">
                    <label class="control-label">Upload Vendor Profile</label>
                    <div class="custom-file"><input class="custom-file-input" id="inputGroupFile01" type="file" (change)="uploadFile($event)" name="image"><label
                        class="custom-file-label text-nowrap text-truncate" for="inputGroupFile01">{{fileName?fileName:'Choose file'}}</label>
                      </div>
                      <p class="error"
                      *ngIf="submitted && errorHandling('image', 'required')">
                      Vendor Profile is required!
                  </p>
                      </div>
                </div>
              </div>
              <!--/span-->         
              <!--/span-->
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Restaurant Name</label>
                  <input type="text" id="firstName" class="form-control" placeholder="Restaurant name" formControlName="resturant">
                  <p class="error"
                  *ngIf="submitted && errorHandling('resturant', 'required')">
                  Restaurant Name is required!
              </p>
                </div>
              </div>
            </div>
            <!--/row-->
            <div class="row ">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Date of birth</label>
                  <input type="date" id="firstName" class="form-control"  placeholder="" max="{{minAge | date:'yyyy-MM-dd'}}" formControlName="dob">
                  <p class="error"
                  *ngIf="submitted && (profileForm.controls['dob'].value==0)">
                  Date of birth is required!
              </p>
            
                </div>
              </div>
              
              <!--/span-->
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Email</label>
                  <input type="email" id="firstName" class="form-control" placeholder="example@gmail.com" formControlName="email" >
                  <p class="error"
                  *ngIf="submitted && errorHandling('email', 'required')">
                  Email is required!
              </p>
              <p class="error"
                  *ngIf=" errorHandling('email', 'pattern')">
                  Email is not valid!
              </p>
                </div>
              </div>
              <!-- <div class="col-md-6">
                <div class="form-group">
                  <label>Opening Time</label>
                  <input formControlName="openTime" type="time" class="form-control" (change)="IsSelectedTime($event,'start')"/>
                  <mat-error *ngIf="submitted && profileForm.controls['openTime'].invalid"
                    class="error d-inline-block pt-1">
                    *Please choose opening time.
                  </mat-error>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Closing Time</label>
                  <input formControlName="closeTime" type="time" class="form-control" (change)="IsSelectedTime($event,'end')"/>
                  <mat-error *ngIf="submitted && profileForm.controls['closeTime'].invalid"
                    class="error d-inline-block pt-1">
                    *Please choose closing time.
                  </mat-error>
                  <mat-error class="error" *ngIf="(startTime>0) && profileForm.get('openTime').value ==  profileForm.get('closeTime').value">
                    *Opening time & closing time can't be same.
                  </mat-error>
                  <mat-error class="error" *ngIf="profileForm.get('openTime').value >  profileForm.get('closeTime').value  && (endTime>0)">
                    *Closing time should be greater than opening time.
                  </mat-error>
                </div>
              </div> -->
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Are you currently delivering right now?*</label>
                  <select name="" id="" class="form-control"  formControlName="isDelivery">
                    <option value="">Choose option</option>
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                  </select>
                  <p class="error"
                                      *ngIf="submitted && errorHandling('isDelivery', 'required')">
                                      This field is required!
                                  </p>
                </div>
              </div>        
              <!--/span-->
              <div class="col-md-6">
                <div class="form-group has-danger">
                  <label class="control-label">Zip</label>
                  <input type="text" id="zip" class="form-control form-control-danger" formControlName="zip" placeholder="eg:44343">
                  <p class="error"
                  *ngIf="submitted && errorHandling('zip', 'required')">
                  Zip code is required!
              </p>
              <p class="error"
                  *ngIf=" errorHandling('zip', 'pattern')">
                  Zip code should numeric!
              </p>
              <p class="error"
                  *ngIf=" errorHandling('zip', 'minlength')">
                  Minlength of zip code should 4!
              </p>
              <p class="error"
                  *ngIf=" errorHandling('zip', 'maxlength')">
                  Maxlength of zip code should 7!
              </p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group has-danger">
                  <label class="control-label">
                    Type of restaurant</label>
                  <input type="text" id="zip" class="form-control form-control-danger" formControlName="resturantType">
                  <p class="error"
                  *ngIf="submitted && errorHandling('resturantType', 'required')">
                  Type of restaurant is required!
              </p>
                </div>
              </div>
              <!--/span-->           
              <div class="col-md-6">
                <div class="form-group has-danger">
                  <label class="control-label">City</label>
                  <input type="text" id="city" formControlName="city" class="form-control form-control-danger" placeholder="Berlin">
                  <p class="error"
                  *ngIf="submitted && errorHandling('city', 'required')">
                  City is required!
              </p>
                </div>
              </div>           
              <div class="col-md-12">
                <div class="form-group has-danger">
                  <label class="control-label">Address</label>
                  <textarea name="" id="" cols="30" rows="5" class="form-control" #ref ngx-google-places-autocomplete #placesRef="ngx-places"
                                      (onAddressChange)="AddressChange($event,ref.value)" formControlName="address"
                                        placeholder="#433 New garden Complex"></textarea>
                                        <p class="error"
                                        *ngIf="submitted && errorHandling('address', 'required')">
                                        Address is required!
                                    </p>
                </div>
              </div>
              <!--/span-->
            </div>
            <!--/row-->
            <button class="btn-primary btn" (click)="updateFranchaise()">Submit</button>
          </div>
        </div>
      </form>
    </div>
    <div *ngIf="this.role=='shop'">
      <h4 class="">Vendor Shop Detail</h4>
      <form [formGroup]="formForShop">
        <div class="form-body">
          <div class="card-body">
            <!-- <div class="row">
                  <div class="col-md-12 text-right">
                      <button routerLink="/pages/vendors" class="btn btn-primary ">Back</button>
                  </div>
              </div> -->
            <!-- end row -->
            <div class="row p-t-20">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">First Name</label>
                  <input type="text" id="firstName" class="form-control" placeholder="John" formControlName="firstName">
                  <p class="error"
                  *ngIf="submitted && errorHandlingphone('firstName', 'required')">
                  First name is required!
              </p>
          
          <p class="error"
              *ngIf="errorHandlingphone('firstName', 'pattern')">
              First name should alphabetic!
  </p>
                </div>
              </div>
              <!--/span-->      
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Last Name</label>
                  <input type="text" id="lasttName" class="form-control" placeholder="doe" formControlName="lastName">
                  <p class="error"
                  *ngIf="submitted && errorHandlingphone('lastName', 'required')">
                  Last name is required!
              </p>
          
          <p class="error"
              *ngIf="errorHandlingphone('lastName', 'pattern')">
              Last name should alphabetic!
  </p>
                </div>
              </div>
              <!--/span-->                
              <!--/span-->
              <div class="col-md-12">
                <div>
                  <label class="control-label">Phone Number</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <select class="form-control form-control-lg" (change)="someMethod($event.target.value)" formControlName="dialCode" >
                        <option *ngFor="let code of countrycode" [value]="code.dial_code"> {{code.dial_code}}</option>
                          </select>
                    </div>
                    <input type="text" class="form-control form-control-lg" placeholder="Phone no."  
                    aria-label="Username" aria-describedby="basic-addon1" formControlName="phone" >
                  
                </div>
                <p class="error"
                *ngIf="submitted && errorHandlingphone('phone', 'required')">
                Phone number is required!
            </p>
            <p class="error"
                *ngIf="errorHandlingphone('phone', 'maxlength')">
                Maximum length should 15!
        </p>
            <p class="error"
            *ngIf="errorHandlingphone('phone', 'minlength')">
            Minimum length should 7!
    </p>
        <p class="error"
            *ngIf="errorHandlingphone('phone', 'pattern')">
            Please enter valid phone no!
</p>
  
                </div>
              </div>
            </div>
            <!--/row-->
            <div class="row ">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Email</label>
                  <input type="email"  id="firstName" class="form-control" placeholder="example@gmail.com" formControlName="email">
                  <p class="error"
                  *ngIf="submitted && errorHandlingphone('email', 'required')">
                  Email is required!
              </p>
          
          <p class="error"
              *ngIf="errorHandlingphone('email', 'pattern')">
              Email is not valid!
  </p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Date of birth</label>
                  <input type="date" id="firstName" class="form-control" max="{{minAge | date:'yyyy-MM-dd'}}" placeholder="" formControlName="dob">
                  <p class="error"
                  *ngIf="submitted && (formForShop.controls['dob'].value==0)">
                  Date of birth is required!
              </p>
      
                </div>
              </div>
              <!-- <div class="col-md-6">
                <div class="form-group">
                  <label>Opening Time</label>
                  <input formControlName="openTime" type="time" class="form-control" (change)="IsSelectedTime($event,'start')"/>
                  <p class="error"
                  *ngIf="submitted && errorHandlingphone('openTime', 'required')">
                  Opening time is required!
              </p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Closing Time</label>
                  <input formControlName="closeTime" type="time" class="form-control" (change)="IsSelectedTime($event,'end')"/>
                  <p class="error"
                  *ngIf="submitted && errorHandlingphone('closeTime', 'required')">
                  Closing time is required!
              </p>
                  <mat-error class="error" *ngIf="(startTime>0) && formForShop.get('openTime').value ==  formForShop.get('closeTime').value">
                    *Opening time & closing time can't be same.
                  </mat-error>
                  <mat-error class="error" *ngIf="formForShop.get('openTime').value >  formForShop.get('closeTime').value  && (endTime>0)">
                    *Closing time should be greater than opening time.
                  </mat-error>
                </div>
              </div> -->
              <div class="col-md-12">
                <div class="form-group has-success">
                  <div class="form-group">
                    <label class="control-label">Upload Vendor Profile</label>
                    <div class="custom-file"><input class="custom-file-input" id="inputGroupFile01" type="file" (change)="uploadFile($event)" name="image"><label
                        class="custom-file-label text-nowrap text-truncate" for="inputGroupFile01">{{fileName?fileName:'Choose file'}}</label>
                      </div>
                      <p class="error"
                      *ngIf="submitted && errorHandling('image', 'required')">
                      Vendor Profile is required!
                  </p>
                      </div>
                </div>
              </div>
              <!--/span-->
            <div class="col-md-12">
                <div class="form-group">
                  <label class="control-label">Where would you like to start a franchise?*</label>
                  <textarea name="" id="" cols="20" rows="5" placeholder="eg: city"  class="form-control" formControlName="location"></textarea>
                </div>
                <p class="error"
                *ngIf="submitted && errorHandlingphone('location', 'required')">
                This filed is required!
            </p>
            <p class="error"
                *ngIf="errorHandlingphone('location', 'pattern')">
                White space not allowed!
            </p>
              </div>        
              <!--/span-->
            
              <div class="col-md-12">
                <div class="form-group has-danger">
                  <label class="control-label">Address</label>
                  <textarea name="" id="" cols="30" rows="3" class="form-control"  #ref ngx-google-places-autocomplete #placesRef="ngx-places"
                  (onAddressChange)="AddressChange($event,ref.value)"
                    placeholder="#433 New garden Complex" formControlName="address"></textarea>
                    <p class="error"
                    *ngIf="submitted && errorHandlingphone('address', 'required')">
                    Address is required!
                </p>
                
                  </div>
              </div>
              <!--/span-->
            </div>
            <!--/row-->
          </div>
        </div>
        <button class="btn-primary btn" (click)="updateProfile()">Submit</button>
      </form>
    </div>
    
  </div>
</div>
