<div class="card">
  <div class="card-body">
    <div class="row">        
            <div class="col-md-4">
              <form>
                <div class="mb-2">
                  <input type="text" class="form-control" id="prenametext" (keydown.enter)="searchFormSubmit()" [ngModelOptions]="{standalone: true}" placeholder="Search" [(ngModel)]="searchByName">
                </div>
              </form>
            </div>
      <div class="col-md-8 text-right mb-5">
        <div class="add-categories ">
          <div ngbDropdown class="d-inline-block mr-2">
            <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
              Filter by Category
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button class="dropdown-item text-success" (click)="GetAll()">Get All</button> 
              <button class="dropdown-item" *ngFor="let topping of catagoryList" (click)="filter(topping?._id)">{{topping?.name}}</button>
            </div>
          </div>
          <button class="btn btn-seconadary mb-2" (click)="addCategoryModel(addCategory)"><i class="sl-icon-plus"></i>
            Add Food Items</button>
        </div>
      </div>
    </div>
  <div class="col-12" *ngFor="let item of foodList">
      <div class="row">
        <div class="col-md-2">
          <img width="150px" class="mr-2" [src]="item?.image?item?.image:'assets/images/food/1.jpg'" alt="">
        </div>
        <div class="col-md-3">
          <h3 class="mb-0"> {{item?.name}}</h3>
          <p>Category : {{item?.categoryId?.name}} </p>
          <p>Sub-Category : <select>
            <option value="" *ngFor="let sub of item?.subCategories">{{sub?.name}}</option>
          </select> </p>
          <p>Quantity : {{item?.stockQuantity}}/pc</p>
        <p>Price : <i class="fas fa-euro-sign"></i>{{item?.price}}/inc tax </p>

        </div>
        <div class="col-md-5">
          <label>Description</label>
          <p>{{item?.description}}</p>
        </div>
        <div class="col-md-2 text-right">
          <div class="delete-categories">
            <span class="btn btn-primary mr-2" (click)="editBoxModal(editModel,item)"><i class="ti-marker-alt"></i> </span>
            <span class="btn btn-danger" (click)="deleteBoxModal(deleteBox,item?._id)"><i class="ti-trash"></i> </span>
          </div>
        </div>
      </div>
      
    </div>

  </div>
  <p *ngIf="totalItems==0" class="ml-5">No data found</p>
  <div class="w-100 text-right mt-2" *ngIf="totalItems>0">
    <mat-paginator
  [length]="totalItems"
  [pageSize]="itemPerpage"
  (page)="onPaginateChange($event)"
></mat-paginator>
</div>
</div>

<!-- edit user detail -->
<ng-template #addsubCategory let-modal>
  <div class="modal-body">
    <div class="card">
      <form>
        <div class="form-body">
          <div class="card-body">
            <div class="row p-t-20">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Name</label>
                  <input type="text" id="firstName" class="form-control" placeholder="John doe">

                </div>
              </div>
              <!--/span-->
              <div class="col-md-6">
                <div class="form-group has-success">
                  <div class="form-group">
                    <label class="control-label">Upload Food Image</label>
                    <div class="custom-file"><input class="custom-file-input" id="inputGroupFile01" type="file"><label
                        class="custom-file-label" for="inputGroupFile01">Choose file</label></div>
                  </div>
                </div>
              </div>
              <!--/span-->
            </div>
            <!--/row-->
          </div>
          <div class="form-actions">
            <div class="card-body">
              <button type="submit" class="btn btn-success mr-3" (click)="modal.dismiss('Cross click')">
                <i class="fa fa-check"></i> Update</button>
              <button type="button" class="btn btn-dark" (click)="modal.dismiss('Cross click')">Cancel</button>
            </div>
          </div>
        </div>
      </form>
    </div>

  </div>
</ng-template>

<!-- delete modal -->
<ng-template #deleteBox let-modal>
  <div class="modal-body">
    <p>Are you sure you want to delete?</p>
    <div class="btn-group">
      <button type="button" class="btn btn-primary mr-2" aria-label="Close"
        (click)="delFood()">Yes</button>
      <button type="button" class="btn btn-seconadary" aria-label="Close"
        (click)="modal.dismiss('Cross click')">No</button>
    </div>
  </div>
</ng-template>


<!-- edit user detail -->
<ng-template #addsubCategory let-modal>
  <div class="modal-body">
    <div class="card">
      <form action="#">
        <div class="form-body">
          <div class="card-body">
            <div class="row p-t-20">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Name</label>
                  <input type="text" id="firstName" class="form-control" placeholder="food Name">
                </div>
              </div>
              <!--/span-->
              <div class="col-md-6">
                <div class="form-group has-success">
                  <div class="form-group">
                    <label class="control-label">Upload Food Image</label>
                    <div class="custom-file"><input class="custom-file-input" id="inputGroupFile01" type="file"><label
                        class="custom-file-label" for="inputGroupFile01">Choose file</label></div>
                  </div>
                </div>
              </div>
              <!--/span-->
            </div>
            <!--/row-->

          </div>
          <div class="form-actions">
            <div class="card-body">
              <button type="submit" class="btn btn-success mr-3" (click)="modal.dismiss('Cross click')">
                <i class="fa fa-check"></i> Update</button>
              <button type="button" class="btn btn-dark" (click)="modal.dismiss('Cross click')">Cancel</button>
            </div>
          </div>
        </div>
      </form>
    </div>

  </div>
</ng-template>

<!-- edit user detail -->
<ng-template #editModel let-modal>
  <div class="modal-body">
    <div class="card">
      <form [formGroup]="addForm">
        <div class="form-body">
          <div class="card-body">
            <div class="row p-t-20">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Category Name</label>
                  <mat-form-field class="w-100">
                    <mat-label>Category Name</mat-label>
                    <mat-select (selectionChange)="someMethod($event.value)" formControlName="categoryId">
                      <mat-option *ngFor="let topping of catagoryList" [value]="topping?._id">{{topping?.name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <small *ngIf="submitted && errorHandling('categoryId','required')" class="error">
                    *Category name is required.
                  </small>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Sub Category</label>
                  <mat-form-field class="w-100" >
                    <mat-label>Sub Category</mat-label>
                    <mat-select formControlName="subCategories" multiple (selectionChange)="subCatChange($event.value)">
                      <mat-option *ngIf="Isempty" disabled value='' selected>Sub category not found</mat-option>
                      <mat-option *ngFor="let topping of subCategoryList" [value]="topping?._id">{{topping?.name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <small *ngIf="submitted && errorHandling('subCategories','required')" class="error">
                    *Sub Category is required.
                  </small>
                </div>
              </div>
              <!--/span-->
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Food Item name</label>
                  <input type="text" id="firstName" formControlName="name" class="form-control" placeholder="Food Item name">
                  <small *ngIf="submitted && errorHandling('name','required')" class="error">
                    *Food item name is required.
                  </small>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group has-success">
                  <div class="form-group">
                    <label class="control-label">Upload Food Image</label>
                    <div class="custom-file"><input class="custom-file-input" (change)="uploadFile($event)" name="image" id="inputGroupFile01" type="file"><label
                        class="custom-file-label" for="inputGroupFile01">{{fileName?fileName:'Choose file'}}</label>
                        <small *ngIf="submitted && !fileName" class="error">
                          *Food image is required.
                        </small>
                      </div>
                  </div>
                </div>
              </div>
              <!--/span-->
            </div>
            <!--/row-->
            <div class="row">
              <div class="col-md-6">
                <div class="form-group has-danger">
                  <label class="control-label">Quantity </label>
                  <input type="text" class="form-control" formControlName="stockQuantity" aria-label="Username" placeholder="Quantity">
                  <small *ngIf="submitted && errorHandling('stockQuantity','required')" class="error">
                    *Quantity is required.
                  </small>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group has-danger">
                  <label class="control-label">Price</label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend"><span class="input-group-text"><i
                          class="fas fa-euro-sign"></i></span></div><input aria-describedby="basic-addon1"
                      aria-label="price" class="form-control" placeholder="Price" formControlName="price" type="number">
                     
                    </div>
                    <small *ngIf="submitted && errorHandling('price','required')" class="error">
                      *Price is required.
                    </small>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group has-danger">
                    <label class="control-label">Tax value</label>
                 <input type="number" min="0" placeholder="eg:- 6%" formControlName="tax" class="form-control">
                 <small *ngIf="submitted && errorHandling('tax','required')" class="error">
                  *Tax value is required.
                </small>
                </div>
            </div>
              <!-- <div class="col-md-6">
             
                <div class="form-group has-danger">
                  <label class="control-label">Delivery charges</label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend"><span class="input-group-text"><i
                          class="fas fa-euro-sign"></i></span></div><input aria-describedby="basic-addon1"
                      aria-label="price" class="form-control"  placeholder="delivery charges" formControlName="deliveryCharges" type="number">
                    
                    </div>
                    <small *ngIf="submitted && errorHandling('deliveryCharges','required')" class="error">
                      *Delivery charges is required.
                    </small>
                </div>
              </div> -->
              <div class="col-md-6">
                            <div class="form-group has-danger">
                                <label class="control-label">Minimum Stock</label>
                                <input type="number" class="form-control" formControlName="minimumStockQuantity" aria-label="Username" placeholder="Minimum Stock">
                                <small *ngIf="submitted && errorHandling('minimumStockQuantity','required')" class="error">
                                  *Minimum Stock is required.
                                </small>
                              </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group has-danger">
                              <label class="control-label">Maximum Stock</label>
                              <input type="number" class="form-control" formControlName="maximumStockQuantity" aria-label="Username" placeholder="Maximum Stock">
                              <small *ngIf="submitted && errorHandling('maximumStockQuantity','required')" class="error">
                                *Maximum Stock is required.
                              </small>
                            </div>
                      </div>
              <div class="col-md-12">
                <div class="form-group has-danger">
                  <label class="control-label">Description </label>
                  <textarea name="" id="" cols="30" rows="3" formControlName="description" class="form-control"></textarea>
                  <small *ngIf="submitted && errorHandling('description','required')" class="error">
                    *Description is required.
                  </small>
                </div>
              </div>
           
            </div>
          </div>
          <div class="form-actions">
            <div class="card-body">
              <button type="submit" class="btn btn-success mr-3" (click)="UpdateProduct()">
                <i class="fa fa-check"></i>Update</button>
              <button type="button" class="btn btn-dark" (click)="modal.dismiss('Cross click')">Cancel</button>
            </div>
          </div>
        </div>
      </form>
    </div>

  </div>
</ng-template>



<!-- edit user detail -->
<ng-template #addsubCategory let-modal>
  <div class="modal-body">
    <div class="card">
      <form action="#">
        <div class="form-body">
          <div class="card-body">
            <div class="row p-t-20">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Name</label>
                  <input type="text" id="firstName" class="form-control" placeholder="food Name">
                </div>
              </div>
              <!--/span-->
              <div class="col-md-6">
                <div class="form-group has-success">
                  <div class="form-group">
                    <label class="control-label">Upload Food Image</label>
                    <div class="custom-file"><input class="custom-file-input" id="inputGroupFile01" type="file"><label
                        class="custom-file-label" for="inputGroupFile01">Choose file</label></div>
                  </div>
                </div>
              </div>
              <!--/span-->
            </div>
            <!--/row-->

          </div>
          <div class="form-actions">
            <div class="card-body">
              <button type="submit" class="btn btn-success mr-3" (click)="modal.dismiss('Cross click')">
                <i class="fa fa-check"></i> Update</button>
              <button type="button" class="btn btn-dark" (click)="modal.dismiss('Cross click')">Cancel</button>
            </div>
          </div>
        </div>
      </form>
    </div>

  </div>
</ng-template>

<!-- edit user detail -->
<ng-template #addCategory let-modal>
  <div class="modal-body">
    <div class="card">
      <form [formGroup]="addForm">
        <div class="form-body">
          <div class="card-body">
            <div class="row p-t-20">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Category Name</label>
                  <mat-form-field class="w-100">
                    <mat-label>Category Name</mat-label>
                    <mat-select (selectionChange)="someMethod($event.value)" formControlName="categoryId">
                      <mat-option *ngFor="let topping of catagoryList" [value]="topping?._id">{{topping?.name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <small *ngIf="submitted && errorHandling('categoryId','required')" class="error">
                    *Category name is required.
                  </small>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Sub Category</label>
                  <mat-form-field class="w-100" [disabled]="Iscategory" [title]="(Iscategory==false)?'Choose category name first':''">
                    <mat-label>Sub Category</mat-label>
                    <mat-select formControlName="subCategories" multiple (selectionChange)="subCatChange($event.value)">
                      <mat-option *ngIf="Isempty" disabled value='' selected>Sub category not found</mat-option>
                      <mat-option *ngFor="let topping of subCategoryList" [value]="topping?._id">{{topping?.name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <small *ngIf="submitted && errorHandling('subCategories','required')" class="error">
                    *Sub Category is required.
                  </small>
                </div>
              </div>
              <!--/span-->
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Food Item name</label>
                  <input type="text" id="firstName" formControlName="name" class="form-control" placeholder="Food Item name">
                  <small *ngIf="submitted && errorHandling('name','required')" class="error">
                    *Food item name is required.
                  </small>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group has-success">
                  <div class="form-group">
                    <label class="control-label">Upload Food Image</label>
                    <div class="custom-file"><input class="custom-file-input" (change)="uploadFile($event)" formControlName="image" id="inputGroupFile01" type="file"><label
                        class="custom-file-label" for="inputGroupFile01">{{fileName?fileName:'Choose file'}}</label>
                        <small *ngIf="submitted && errorHandling('image','required')" class="error">
                          *Food image is required.
                        </small>
                      </div>
                  </div>
                </div>
              </div>
              <!--/span-->
            </div>
            <!--/row-->
            <div class="row">
              <div class="col-md-6">
                <div class="form-group has-danger">
                  <label class="control-label">Quantity </label>
                  <input type="text" class="form-control" formControlName="stockQuantity" aria-label="Username" placeholder="Quantity">
                  <small *ngIf="submitted && errorHandling('stockQuantity','required')" class="error">
                    *Quantity is required.
                  </small>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group has-danger">
                  <label class="control-label">Price</label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend"><span class="input-group-text"><i
                          class="fas fa-euro-sign"></i></span></div><input aria-describedby="basic-addon1"
                      aria-label="price" class="form-control" placeholder="Price" formControlName="price" type="number">
                     
                    </div>
                    <small *ngIf="submitted && errorHandling('price','required')" class="error">
                      *Price is required.
                    </small>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group has-danger">
                    <label class="control-label">Tax value</label>
                 <input type="number" placeholder="eg:- 6%" min="0" formControlName="tax" class="form-control">
                 <small *ngIf="submitted && errorHandling('tax','required')" class="error">
                  *Tax value is required.
                </small>
                </div>
            </div>
              <!-- <div class="col-md-6">
             
                <div class="form-group has-danger">
                  <label class="control-label">Delivery charges</label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend"><span class="input-group-text"><i
                          class="fas fa-euro-sign"></i></span></div><input aria-describedby="basic-addon1"
                      aria-label="price" class="form-control"  placeholder="delivery charges" formControlName="deliveryCharges" type="number">
                    
                    </div>
                    <small *ngIf="submitted && errorHandling('deliveryCharges','required')" class="error">
                      *Delivery charges is required.
                    </small>
                </div>
              </div> -->
              <div class="col-md-6">
                            <div class="form-group has-danger">
                                <label class="control-label">Minimum Stock</label>
                                <input type="number" class="form-control" formControlName="minimumStockQuantity" aria-label="Username" placeholder="Minimum Stock">
                                <small *ngIf="submitted && errorHandling('minimumStockQuantity','required')" class="error">
                                  *Minimum Stock is required.
                                </small>
                              </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group has-danger">
                              <label class="control-label">Maximum Stock</label>
                              <input type="number" class="form-control" formControlName="maximumStockQuantity" aria-label="Username" placeholder="Maximum Stock">
                              <small *ngIf="submitted && errorHandling('maximumStockQuantity','required')" class="error">
                                *Maximum Stock is required.
                              </small>
                            </div>
                      </div>
              <div class="col-md-12">
                <div class="form-group has-danger">
                  <label class="control-label">Description </label>
                  <textarea name="" id="" cols="30" rows="3" formControlName="description" class="form-control"></textarea>
                  <small *ngIf="submitted && errorHandling('description','required')" class="error">
                    *Description is required.
                  </small>
                </div>
              </div>
           
            </div>
          </div>
          <div class="form-actions">
            <div class="card-body">
              <button type="submit" class="btn btn-success mr-3" (click)="AddProduct()">
                <i class="fa fa-check"></i> Add</button>
              <button type="button" class="btn btn-dark" (click)="modal.dismiss('Cross click')">Cancel</button>
            </div>
          </div>
        </div>
      </form>
    </div>

  </div>
</ng-template>
