
    <div class="card">
     
        <div class="card-body">
        
          <div class="row">
            <div class="col-md-12 text-right"><a href="javascript:void()" (click)='back()' class="btn btn-primary mb-3">Back</a></div>
            <div class="col-md-4">
              <div class="row">
                <div class="col-md-4">
                  <label>Order ID</label>
                </div>
                <div class="col-md-8">
                  <span>{{particularObject?.orderNo ||'null'}}</span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <label>Client</label>
                </div>
                <div class="col-md-8">
                  <span>{{particularObject?.user?.firstName +" "+particularObject?.user?.lastName ||'null'}}</span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <label>Phone No.</label>
                </div>
                <div class="col-md-8">
                  <span>{{particularObject?.user?.dialCode +"-"+particularObject?.user?.phoneNo ||'null'}}</span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <label>Delivery Address</label>
                </div>
                <div class="col-md-8">
                  <span>{{particularObject?.address||'null'}}</span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <label>Date Of Order</label>
                </div>
                <div class="col-md-8">
                  <span> {{particularObject?.orderedAt | date :'medium'}}</span>
                </div>
              </div>
            </div>
            <!-- end-col-md-4 -->
            <div class="col-md-4">
              <div class="row">
                <div class="col-md-4">
                  <label>Status</label>
                </div>
                <div class="col-md-8">
                  <span >{{particularObject?.status}}</span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <label>Active</label>
                </div>
                <div class="col-md-8">
                  <span class="label label-success">Yes</span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <label>Method</label>
                </div>
                <div class="col-md-8">
                  <span>{{particularObject?.payment?.mode || 'null'}}</span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <label>Payment Status</label>
                </div>
                <div class="col-md-8">
                  <span>{{particularObject?.payment?.status || 'null'}}</span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <label>Update At</label>
                </div>
                <div class="col-md-8">
                  <span>{{particularObject?.acceptedAt|date:'medium'}}</span>
                </div>
              </div>
            </div>
              <!-- end-col-md-4 -->
              <div class="col-md-4">
                <div class="row">
                  <div class="col-md-4">
                    <label>Restaurant</label>
                  </div>
                  <div class="col-md-8">
                    <span >{{particularObject?.shop?.shopName||'null'}}</span>
                  </div>
                </div>
                <!-- <div class="row">
                  <div class="col-md-4">
                    <label>Address</label>
                  </div>
                  <div class="col-md-8">
                    <span >Lorem ipsum dolor</span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <label>Phone No</label>
                  </div>
                  <div class="col-md-8">
                    <span>+91-4343434343</span>
                  </div>
                </div> -->
                <div class="row">
                  <div class="col-md-4">
                    <label>Driver</label>
                  </div>
                  <div class="col-md-8">
                    <span>{{particularObject?.driver||'null'}}</span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <label>Comment</label>
                  </div>
                  <div class="col-md-8">
                    <span>{{particularObject?.comments | slice:0:100}}</span>
                  </div>
                </div>
              </div>
                <!-- end-col-md-4 -->  
          </div>
          <div class="table-reponsive">
            <table class="table">
              <tr>
                <th>Image </th>
                <th>Item </th>
                <th>Price</th>                
                <th>Quantity</th>              
              </tr>
              <tr *ngFor="let item of particularObject?.items">
                <td><a href="javascript:void(0)" (click)="itemShowModal(itemshow)"><img [src]="item.image?item.image:'assets/images/food/1.jpg'" width="60px" height="60px"></a></td>
                <td>{{item?.name||'null'}}</td>
                <td>{{item?.price}}<i class="fas fa-euro-sign"></i></td>
                <td>{{item?.quantity}}</td>                
          </tr> 
              <tr>
                <td class="text-nowrap" colspan="3" ></td> 
                <td >
                  <div class="table-repsonsive">
                    <table class="table">
                      <tr>
                        <td><label>Subtotal</label></td>
                        <td class="text-right"><label>{{particularObject?.subTotal || 'null'}} <i class="fas fa-euro-sign"></i></label></td>                     
                      </tr>
                      <tr>
                        <td><label>Delivery Fee</label></td>
                        <td class="text-right"><label>{{particularObject?.deliveryFee||'null'}}<i class="fas fa-euro-sign"></i></label></td>
                        </tr>
                        <tr>
                        <td><label>Tax(%)</label></td>
                        <td class="text-right"><label>{{particularObject?.taxes||'null'}} <i class="fas fa-euro-sign"></i></label></td>
                      </tr>
                      <tr>
                        <td><label>Total</label></td>
                        <td class="text-right"><label>{{total}}<i class="fas fa-euro-sign"></i></label></td>
                      </tr>
                    </table>
                  </div>
                </td>
                
               
              </tr>            
              
            </table>
          </div>
        </div>
      </div>
      <!-- Column -->
    
      <ng-template #itemshow let-modal class="modal-dialog modal-dialog-centered">
        <div class="modal-body" >
          <button type="button" class="btn close-btn" (click)="modal.close('Close click')">Close</button>
          <img class="img-fluid" src="assets/images/food/1.jpg">
        </div>
      </ng-template>